{% extends 'base.html.twig' %}

{% block title %}Balances des comptes{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/libs/datatable/dist/dataTables.bootstrap4.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Balance des comptes</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Comptabilité</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Balance</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Balance des comptes</h4>
                    <hr>                           
                    <div class="table-responsive-lg">
                        <table class="table table-bordered no-padding">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" rowspan=2 class="text-center align-middle">Poste</th>
                                    <th scope="col" rowspan=2 class="text-center align-middle">Intitulé des comptes</th>
                                    <th scope="col" colspan=2 class="text-center">Mouvements</th>
                                    <th scope="col" colspan=2 class="text-center">Soldes</th>
                                </tr>
                                <tr>
                                    <th scope="col">Débit</th>
                                    <th scope="col">Crédit</th>
                                    <th scope="col">Débiteur</th>
                                    <th scope="col">Créditeur</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set Tdebit = 0 %} {% set Tcredit = 0 %} {% set TsoldeD = 0 %} {% set TsoldeC = 0 %}
                                {% for classe, comptes in donnees %}
                                    <tr><th colspan=6 class="table-blue">{{ classe }}</th></tr>
                                    {% set debit = 0 %} {% set credit = 0 %} {% set solde = 0 %}
                                    {% for compte in comptes %}
                                        <tr>
                                            <td>{{ compte.poste }}</td>
                                            <td>{{ compte.titre }}</td>
                                            <td>{% if compte.debit != 0 %}{{ compte.debit|number_format(2,',',' ') }}{% endif %}</td> {% set debit = debit + compte.debit %}
                                            <td>{% if compte.credit != 0 %}{{ compte.credit|number_format(2,',',' ') }}{% endif %}</td> {% set credit = credit + compte.credit %}
                                            {% if compte.solde > 0 %}
                                                <td>{{ compte.solde|abs|number_format(2,',',' ') }}</td> 
                                                <td></td>
                                            {% else %}
                                                {% if compte.solde == 0 %}
                                                <td></td>
                                                <td></td>
                                                {% else %}
                                                <td></td>
                                                <td>{{ compte.solde|abs|number_format(2,',',' ') }}</td> 
                                                {% endif %}
                                            {% endif %}
                                            {% set solde = solde + compte.solde %}
                                        </tr>                                        
                                    {% endfor %}
                                    <tr>
                                        <th colspan=2 class="text-right">TOTAL : {{ classe }}</th>
                                        <td>{% if debit != 0 %}{{ debit|number_format(2,',',' ') }}{% endif %}</td> {% set Tdebit = Tdebit + debit %}
                                        <td>{% if credit != 0 %}{{ credit|number_format(2,',',' ') }}{% endif %}</td> {% set Tcredit = Tcredit + credit %}
        
                                        {% if solde > 0 %}
                                            <td>{{ solde|abs|number_format(2,',',' ') }}</td>
                                            <td></td>
                                            {% set TsoldeD = TsoldeD + solde|abs %}             
                                        {% else %}
                                            {% if solde == 0 %}
                                                <td></td>
                                                <td></td>
                                            {% else %}
                                            <td></td>
                                            <td>{{ solde|abs|number_format(2,',',' ') }}</td>
                                            {% endif %}
                                            {% set TsoldeC = TsoldeC + solde|abs %}             
                                        {% endif %} 
                                    </tr>
                                {% endfor %}

                                <tr class="border-top table-gris">
                                    <th colspan=2 class="text-right">TOTAUX</th>
                                    <td>{{ Tdebit|number_format(2,',',' ') }}</td>
                                    <td>{{ Tcredit|number_format(2,',',' ') }}</td>
                                    <td>{{ TsoldeD|abs|number_format(2,',',' ') }}</td>
                                    <td>{{ TsoldeC|abs|number_format(2,',',' ') }}</td>                                 
                                </tr>       
                            </tbody>
                        </table>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <a href="{{ path('export_rapport_balance') }}" class="btn btn-info"><i class="mdi mdi-printer"></i> Exporter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/libs/datatable/dist/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('dist/js/pages/datatable/datatable-basic.init.js') }}"></script>
{% endblock %}