{% extends 'base.html.twig' %}

{% block title %}Bilan comptable{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Bilan comptable</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Etats financiers</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Bilan</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">BILAN ACTIF</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 border-right">
                            <table class="table table-bordered no-padding-3">
                                <thead class="thead-light text-center">
                                    <tr>
                                        <th rowspan=2 class="align-middle">POSTES D'ACTIF</th>
                                        <th colspan=2>COMPTES</th>
                                    </tr>   
                                    <tr>
                                        <th>Montants bruts</th>
                                        <th>Amort/perte de valeur</th>
                                    </tr>             
                                </thead>
                                <tbody>
                                    {% set tANCb = 0 %}{% set tANCa = 0 %} 
                                    {% for rubrique in actifsNonCourants %}
                                        {% if loop.first %}
                                        <tr>
                                            <td class="font-weight-bold">ACTIFS NON COURANTS</td>
                                            <td></td><td></td>
                                        </tr>
                                        {% endif %}        
                                        <tr>
                                            <td {% if rubrique[0] != 0 %}class="pl-4"{% endif %}>{{ rubrique[1] }}</td>
                                            <td>{% if rubrique[2] is defined and rubrique[2] != 0 %}{{ rubrique[2]|number_format(2,',',' ') }} {% set tANCb = tANCb + rubrique[2] %}{% endif %}</td>
                                            <td>{% if rubrique[3] is defined and rubrique[3] != 0 %}{{ rubrique[3]|number_format(2,',',' ') }} {% set tANCa = tANCa + rubrique[3] %}{% endif %}</td>
                                        </tr>
                                        {% if loop.last %}
                                        <tr>
                                            <td class="text-right font-weight-bold">TOTAL ACTIFS NON COURANTS</td>
                                            <td>{% if tANCb != 0 %}{{ tANCb|number_format(2,',',' ') }}{% endif %}</td>
                                            <td>{% if tANCa != 0 %}{{ tANCa|number_format(2,',',' ') }}{% endif %}</td>
                                        </tr>
                                        {% endif %}           
                                    {% endfor %}

                                    {% set tACb = 0 %}{% set tACa = 0 %} 
                                    {% for rubrique in actifsCourants %}
                                        {% if loop.first %}
                                        <tr>
                                            <td class="font-weight-bold">ACTIFS COURANTS</td>
                                            <td></td><td></td>
                                        </tr>
                                        {% endif %}        
                                        <tr>
                                            <td {% if rubrique[0] != 0 %}class="pl-4"{% endif %}>{{ rubrique[1] }}</td>
                                            <td>{% if rubrique[2] is defined and rubrique[2] != 0 %}{{ rubrique[2]|number_format(2,',',' ') }} {% set tACb = tACb + rubrique[2] %}{% endif %}</td>
                                            <td>{% if rubrique[3] is defined and rubrique[3] != 0 %}{{ rubrique[3]|number_format(2,',',' ') }} {% set tACa = tACa + rubrique[3] %}{% endif %}</td>
                                        </tr>
                                        {% if loop.last %}
                                        <tr>
                                            <td class="text-right font-weight-bold">TOTAL ACTIFS COURANTS</td>
                                            <td>{% if tACb != 0 %}{{ tACb|number_format(2,',',' ') }}{% endif %}</td>
                                            <td>{% if tACa != 0 %}{{ tACa|number_format(2,',',' ') }}{% endif %}</td>
                                        </tr>
                                        {% endif %}           
                                    {% endfor %}
                                    <tr>
                                        {% set tb = tACb + tANCb %}{% set ta = tACa + tANCa %}
                                        <td class="text-right font-weight-bold">TOTAL DES ACTIFS</td>
                                        <td>{% if tb != 0 %}{{ tb|number_format(2,',',' ') }}{% endif %}</td>
                                        <td>{% if ta != 0 %}{{ ta|number_format(2,',',' ') }}{% endif %}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">BILAN CAPITAUX PROPRES ET PASSIF</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 border-right">
                            <table class="table table-bordered no-padding-3">
                                <thead class="thead-light text-center">
                                    <tr>
                                        <th rowspan=2 class="align-middle">CAPITAUX PROPRES ET PASSIFS</th>
                                        <th colspan=2>COMPTES</th>
                                    </tr>   
                                    <tr>
                                        <th>Eléments additifs</th>
                                        <th>Eléments soustractifs</th>
                                    </tr>             
                                </thead>
                                <tbody>
                                    {% set tCa = 0 %}{% set tCs = 0 %} 
                                    {% for rubrique in capitaux %}
                                        {% if loop.first %}
                                        <tr>
                                            <td class="font-weight-bold">CAPITAUX PROPRES</td>
                                            <td></td><td></td>
                                        </tr>
                                        {% endif %}        
                                        <tr>
                                            <td {% if rubrique[0] != 0 %}class="pl-4"{% endif %}>{{ rubrique[1] }}</td>
                                            <td>{% if rubrique[2] is defined and rubrique[2] != 0 %}{{ (0 - rubrique[2])|number_format(2,',',' ') }} {% set tCa = tCa + rubrique[2] %}{% endif %}</td>
                                            <td>{% if rubrique[3] is defined and rubrique[3] != 0 %}{{ (0 - rubrique[3])|number_format(2,',',' ') }} {% set tCs = tCs + rubrique[3] %}{% endif %}</td>
                                        </tr>
                                        {% if loop.last %}
                                        <tr>
                                            <td class="text-right font-weight-bold">TOTAL CAPITAUX PROPRES</td>
                                            <td>{% if tCa != 0 %}{{ (0 - tCa)|number_format(2,',',' ') }}{% endif %}</td>
                                            <td>{% if tCs != 0 %}{{ (0 - tCs)|number_format(2,',',' ') }}{% endif %}</td>
                                        </tr>
                                        {% endif %}           
                                    {% endfor %}

                                    {% set tPNCa = 0 %}{% set tPNCs = 0 %} 
                                    {% for rubrique in passifsNonCourants %}
                                        {% if loop.first %}
                                        <tr>
                                            <td class="font-weight-bold">PASSIFS NON-COURANTS</td>
                                            <td></td><td></td>
                                        </tr>
                                        {% endif %}        
                                        <tr>
                                            <td {% if rubrique[0] != 0 %}class="pl-4"{% endif %}>{{ rubrique[1] }}</td>
                                            <td>{% if rubrique[2] is defined and rubrique[2] != 0 %}{{ (0 - rubrique[2])|number_format(2,',',' ') }} {% set tPNCa = tPNCa + rubrique[2] %}{% endif %}</td>
                                            <td>{% if rubrique[3] is defined and rubrique[3] != 0 %}{{ (0 - rubrique[3])|number_format(2,',',' ') }} {% set tPNCs = tPNCs + rubrique[3] %}{% endif %}</td>
                                        </tr>
                                        {% if loop.last %}
                                        <tr>
                                            <td class="text-right font-weight-bold">TOTAL PASSIFS NON-COURANTS</td>
                                            <td>{% if tPNCa != 0 %}{{ (0 - tPNCa)|number_format(2,',',' ') }}{% endif %}</td>
                                            <td>{% if tPNCs != 0 %}{{ (0 - tPNCs)|number_format(2,',',' ') }}{% endif %}</td>
                                        </tr>
                                        {% endif %}           
                                    {% endfor %}

                                    {% set tPCa = 0 %}{% set tPCs = 0 %} 
                                    {% for rubrique in passifsCourants %}
                                        {% if loop.first %}
                                        <tr>
                                            <td class="font-weight-bold">PASSIFS COURANTS</td>
                                            <td></td><td></td>
                                        </tr>
                                        {% endif %}        
                                        <tr>
                                            <td {% if rubrique[0] != 0 %}class="pl-4"{% endif %}>{{ rubrique[1] }}</td>
                                            <td>{% if rubrique[2] is defined and rubrique[2] != 0 %}{{ (0 - rubrique[2])|number_format(2,',',' ') }} {% set tPCa = tPCa + rubrique[2] %}{% endif %}</td>
                                            <td>{% if rubrique[3] is defined and rubrique[3] != 0 %}{{ (0 - rubrique[3])|number_format(2,',',' ') }} {% set tPCs = tPCs + rubrique[3] %}{% endif %}</td>
                                        </tr>
                                        {% if loop.last %}
                                        <tr>
                                            <td class="text-right font-weight-bold">TOTAL PASSIFS COURANTS</td>
                                            <td>{% if tPCa != 0 %}{{ (0 - tPCa)|number_format(2,',',' ') }}{% endif %}</td>
                                            <td>{% if tPCs != 0 %}{{ (0 - tPCs)|number_format(2,',',' ') }}{% endif %}</td>
                                        </tr>
                                        {% endif %}           
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
