{% extends 'base.html.twig' %}

{% block title %}Bilan comptable{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Bilan comptable</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Etats financiers</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Bilan</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Bilan comptable</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 border-right">
                            <table class="table table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="text-center" colspan=2>ACTIFS</th>
                                    </tr>                
                                </thead>
                                <tbody>
                                    {% set totalA = 0 %}
                                    {% for compte in donnees.actif %}
                                        <tr>
                                            <td title="{{ compte.poste }}" data-toggle="tooltip">{{ compte.titre }}</td>
                                            <td>{{ compte.solde }}</td> {% set totalA = totalA + compte.solde %}
                                        </tr>
                                    {% endfor %}
                                    
                                </tbody>
                                <tfoot>
                                    <tr class="table-active">
                                        <th>TOTAL ACTIF</th>
                                        <td>{{ totalA }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <table class="table table-bordered">
                                <thead  class="thead-light">
                                    <tr>
                                        <th class="text-center" colspan=2>CAPITAUX PROPRES ET PASSIFS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set totalP = 0 %}
                                    {% for compte in donnees.passif %}
                                        <tr>
                                            <td title="{{ compte.poste }}" data-toggle="tooltip">{{ compte.titre }}</td>
                                            <td>{{ compte.solde }}</td> {% set totalP = totalP + compte.solde %}
                                        </tr>
                                    {% endfor %}
                                    {% set resultat = totalA - totalP %}
                                    <tr>
                                        <td><strong>Résultat de l'exercice {% if resultat >= 0 %}(Bénéfice){% else %}(Perte){% endif %}</strong></td>
                                        <td></strong>{{ resultat }}</strong></td>
                                    </tr>
                                    
                                </tbody>
                                <tfoot>
                                    <tr class="table-active">
                                        <th>TOTAL CAPITAUX PROPRES ET PASSIFS</th>
                                        <td>{{ totalP + resultat }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
