{% extends 'base.html.twig' %}

{% block title %}
    Journal
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/libs/datatable/dist/dataTables.bootstrap4.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Journal</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Comptabilité</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Journal</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    {% include "comptabilite/reportHeader.html.twig" with {
                        title: "Journal", 
                        subtitle: code.codeJournal|upper ~" "~ code.titre|capitalize,
                        periode: periode,
                    } %}

                    <hr>                           
                    <div class="row">
                        <table class="table table-hover border no-padding">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" style="width: 5%">Date</th>
                                    <th scope="col" style="width: 2%">N°id</th>
                                    <th scope="col" style="width: 5%">Débité</th>
                                    <th scope="col" style="width: 5%">Crédité</th>
                                    <th scope="col" style="width: 35%">Libellé</th>
                                    <th scope="col" style="width: 15%">Montant</th>
                                    <th scope="col" style="width: 15%">Réference</th>
                                    <th scope="col" style="width: 15%">Dest</th>
                                    {% if  not app.session.get('exercice').isCloture %}
                                    <th scope="col" style="width: 1%"></th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for article in articles %}                                
                                    <tr>
                                        <td>{{ article.date |date('d/m/y') }}</td>
                                        <td>{{ article.id }}</td>
                                        <td title="{{ article.compteDebit.titre }}" data-toggle="tooltip">{{ article.compteDebit.poste }}</td>
                                        <td title="{{ article.compteCredit.titre }}" data-toggle="tooltip">{{ article.compteCredit.poste }}</td>
                                        <td>{{ article.libelle }}</td>
                                        <td>{{ article.montant|number_format(2,',',' ') }}</td>
                                        <td>{{ article.piece }}</td>
                                        <td>{{ article.analytique }}</td>
                                        {% if not app.session.get('exercice').isCloture %}
                                        <td>{% if not article.isFerme %}<a href="{{ path('comptabilite_modifier_article', {'id': article.id, 'journal': article.categorie}) }}" class="label label-rounded btn-primary label-primary"><i class="mdi mdi-grease-pencil"></i></a>{% endif %}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="row mt-2 btn-group">
                        {% if not app.session.get('exercice').isCloture %}           
                        <a href="{{ path('comptabilite_saisie', { 'journal': code.codeJournal }) }}" class="btn btn-sm btn-success mr-1"><i class="mdi mdi-receipt"></i> Saisie article</a>
                        {% endif %}
                        <a href="{{ path('export_rapport_journal', {code: code.codeJournal}) }}" class="btn btn-sm btn-info mr-1"><i class="mdi mdi-printer"></i> Exporter</a>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
{% endblock %}
