{% extends 'base.html.twig' %}

{% block title %}Grand livres des comptes{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/libs/datatable/dist/dataTables.bootstrap4.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Grand livre des comptes</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Comptabilité</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Grand livre</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    {% include "comptabilite/reportHeader.html.twig" with {
                        title: "Grand-livre des comptes"
                    } %}
                    <hr>   
                
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-bordered no-padding">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col" style="width: 8%">Date</th>
                                        <th scope="col" style="width: 5%">C.j</th>
                                        <th scope="col" style="width: 1%">N°id</th>
                                        <th scope="col" style="width: 40%">Libellé</th>
                                        <th scope="col" style="width: 15%">Réference</th>
                                        <th scope="col" style="width: 15%">Débit</th>
                                        <th scope="col" style="width: 15%">Crédit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for classe, comptes in donnees %}
                                        <tr><th colspan=7>{{ classe }}</th></tr>
                                        {% for compte, articles in comptes %}
                                            <tr><th colspan=7  class="table-active">{{ compte }}</th></tr> 
                                            {% set debit = 0 %} {% set credit = 0 %}
                                            {% for article in articles %}
                                                <tr>
                                                    <td>{{ article.date |date('d/m/y') }}</td>
                                                    <td>{{ article.categorie }}</td>
                                                    <td>{{ article.id }}</td>
                                                    <td>{{ article.libelle }}</td>
                                                    <td>{{ article.piece }}</td>
                                                    
                                                    <td class="text-center">{% if article.debit %}{{ article.debit|number_format(2,',',' ') }}{% endif %}</td> {% set debit = debit + article.debit %}
                                                    <td class="text-center">{% if article.credit %}{{ article.credit|number_format(2,',',' ') }}{% endif %}</td> {% set credit = credit + article.credit %}
                                                </tr>
                                            {% endfor %}  
                                            <tr>
                                                <th class="text-right" colspan=5>Total : {{ compte }}</span></th>
                                                <td class="text-center">{{ debit|number_format(2,',',' ') }}</td>
                                                <td class="text-center">{{ credit|number_format(2,',',' ') }}</td>
                                            </tr>    
                                        {% endfor %}
                                    {% else %}
                                        <tr><td colspan=6>Aucun opération comptable enregistrés pendant cette periode</td></tr>
                                    {% endfor %}        
                                </tbody>                               
                            </table>
                        </div>                       
                    </div>

                    <div class="row mt-2 btn-group">
                        <a href="#modal-livre" data-toggle="modal" data-backdrop="static" class="btn btn-sm btn-primary mr-2"><i class="mdi mdi-pen"></i><span class="hide-menu"> Choisir le période </span></a>
                        <a href="{{ path('export_rapport_grandlivre') }}" class="btn btn-sm btn-info"><i class="mdi mdi-printer"></i> Imprimer</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/libs/datatable/dist/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('dist/js/pages/datatable/datatable-basic.init.js') }}"></script>
    <script>
        $(document).ready(function() {  
            var url = window.location + "";
            var value = url.replace(window.location.protocol + "//" + window.location.host + "{{ path('comptabilite_livre') }}", ""); 
            var element = $('#compte option').filter(function() {
                return this.value === value;
            });
            element.attr('selected', 'selected');

            $('#link').click(function(e) {
                e.preventDefault();
                window.location.href = "{{ path('comptabilite_livre') }}"+ $('#compte').val();
            });    
        });
    </script>
{% endblock %}