{% extends 'base.html.twig' %}

{% block title %}Plan comptable{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Plan comptable génerale</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Comptabilité</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Plan comptable</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">COMPTE DE BILAN OU SITUATION</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table m-t-20 table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Poste</th>
                                        <th scope="col">Intitulé</th>
                                        <th scope="col">Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for classe, comptes in classes.bilan %}
                                        <tr>
                                            <th scope="row" colspan=3>{{ classe }}</th>
                                        </tr>
                                        {% for compte in comptes %}
                                        
                                            <tr {% if compte.note %}title="{{ compte.note }}" data-toggle="tooltip"{% endif %}>
                                                <td>{{ compte.poste }}</td>
                                                <td>{{ compte.titre }}</td>
                                                <td>{% if compte.type %}
                                                        <span class="label label-rounded label-info">Actif</span>
                                                    {% else %}
                                                        <span class="label label-rounded label-primary">Passif</span>
                                                    {% endif %}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}                                
                                </tbody>
                            </table>                       
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">

                            <a href="{{ path('comptabilite_plan_bilan') }}" class="btn btn-success">Nouveau compte de bilan <i class="mdi mdi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">COMPTE DE GESTION</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table m-t-20 table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Poste</th>
                                        <th scope="col">Intitulé</th>
                                        <th scope="col">Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for classe, comptes in classes.gestion %}
                                        <tr>
                                            <th scope="row" colspan=3>{{ classe }}</th>
                                        </tr>
                                        {% for compte in comptes %}
                                        
                                            <tr {% if compte.note %}title="{{ compte.note }}" data-toggle="tooltip"{% endif %}>
                                                <td>{{ compte.poste }}</td>
                                                <td>{{ compte.titre }}</td>
                                                <td>{% if compte.type %}
                                                        <span class="label label-rounded label-primary">Charge</span>
                                                    {% else %}
                                                        <span class="label label-rounded label-info">Produit</span>
                                                    {% endif %}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}                                
                                </tbody>
                            </table>                       
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <a href="{{ path('comptabilite_plan_gestion') }}" class="btn btn-success">Nouveau compte de gestion <i class="mdi mdi-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12 text-right">
                            <a href="{{ path('comptabilite_plan_analytique') }}" class="btn btn-primary"><i class="mdi mdi-file-document-box"></i> Plan analytique</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
