<!-- En tete du rapport-->
<div class="row border rounded p-2">
    <div class="col-4">
        <span>MSRM</span><br>
        <span>CNPC Porte 14 Antanimena</span><br>
        <span>034 10 776 69</span><br>
        <span>smutuellesante@yahoo.fr</span><br>
    </div>
    <div class="col-4 text-center pt-4">
        <h2 class="titre-rapport">{{ title|capitalize }}</h2>
         {% if subtitle is defined %}<span>{{subtitle}}</span>{% endif %}  
    </div>
    <div class="col-4 text-right">
        <br>
        {% if periode is defined %}
        <span>Période du {{ periode.debut|date('d/m/y') }}</span><br>
        <span>au {{ periode.fin|date('d/m/y') }}</span> <br>
        {% else %}
        <span>Période du {{ app.session.get('exercice').dateDebut|date('d/m/y') }}</span> <br>
        <span>au {{ app.session.get('exercice').dateFin|date('d/m/y') }}</span> <br>
        {% endif %}
        <span>Tenue du compte : Ar </span> <br>
    </div>
</div>