{% extends 'base.html.twig' %}

{% block title %}Journal {{ codeJournal }}{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Journal {{ codeJournal }}</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Comptabilité</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Saisie</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Saisie d'ecriture comptable</h4>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            {{ form_start(form) }}
                                {{ form_row(form.date) }}
                                {{ form_row(form.montant) }}
                                {{ form_row(form.libelle) }}
                                {{ form_row(form.piece, { label: 'Pièce justificative'}) }}
                                {{ form_row(form.analytique, { label: 'Destination (analytique)'}) }}
                                {{ form_row(form.compteDebit) }}
                                {{ form_row(form.compteCredit) }}
                                <div class="form-row">
                                    <div class="col-12 text-right">
                                        <button type="submit" class="btn btn-success">
                                        {% if not editMode %}
                                            Ajouter
                                        {% else %}
                                            Modifier l'article
                                        {% endif %} <i class="mdi mdi-keyboard-return"></i></button>
                                    </div>
                                </div>                                                     
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('dist/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('dist/js/datepicker.js') }}"></script>
{% endblock %}