{% extends 'base.html.twig' %}

{% block title %}Saisie avec model{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Saisie model</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Comptabilité</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Saisie</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        {{model.nom}}
                    </h4>
                    <hr>
                    {{ form_start(form) }}
                    

                    <div class="row"> 
                        <div class="col-md-3">{{ form_row(form.categorie, { label: 'Journal',attr:{dis:'true'}}) }}</div>
                        <div class="col-md-3">{{ form_row(form.date) }}</div>
                        <div class="offset-md-2 col-md-4">{{ form_row(form.piece, { label: 'N° de pièce',attr:{placeholder:"Réference"}}) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">{{ form_row(form.montant) }}</div>
                        <div class="col-md-9">{{ form_row(form.libelle, { label: 'Libellé',attr:{placeholder:"Description de l'opération"}}) }}</div>
                    </div>
                    <div class="row mt-3">
                        {% set attrD = "true" %}
                        {% if not model.debit %}{% set attrD = 'false' %}{% endif %}
                        <div class="col-md-6">{{ form_row(form.compteDebit,{label: 'N° compte générale débité', attr:{dis:attrD}}) }}</div>
                    </div>
                    <div class="row mb-3">
                        {% set attrC = "true" %}
                        {% if not model.credit %}{% set attrC = "false" %}{% endif %}
                        <div class="col-md-6">{{ form_row(form.compteCredit,{label: 'N° compte générale crédité', attr:{dis:attrC}}) }}</div>
                    </div>
                    <div class="row">
                    {% set attrA = "true"  %}
                        {% if not model.analytic %}{% set attrA = "false" %}{% endif %}
                        <div class="col-md-6">{{ form_row(form.analytic,{ label: 'N° compte analytique', attr:{dis:attrA}}) }}</div>
                    </div>
                    <div class="row">
                    {% set attrT = "true" %}
                        {% if not model.tier %}{% set attrT = "false" %}{% endif %}
                        <div class="col-md-6">{{ form_row(form.tier,{ label: 'N° compte tier', attr:{dis:attrT}}) }}</div>
                    </div>
                    <div class="row">
                    {% set attrB = "true" %}
                        {% if not model.budget %}{% set attrB = "false" %}{% endif %}
                        <div class="col-md-6">{{ form_row(form.budget,{ label: 'Poste budgetaire', attr:{dis:attrB}}) }}</div>
                    </div>
                    <div class="form-row">
                        <div class="col-5">
                            <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-check-circle" aria-hidden="true"></i> Valider</button>
                        </div>
                    </div>

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
    {% for message in app.flashes('success') %}
    <div id="success-alert" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mutuelle santé - Succès</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Information sur l'enregistrement de l'écriture</h6>
                <p>{{message}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
            </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
<script>
    $('#success-alert').modal();
    $("select[dis=true] option:not(:selected)").prop("disabled", true);
    $('select[dis=true]').css('pointer-events','none');
    $('select[dis=true]').css('background-color','#DDD');
</script>
{% endblock %}
