{% extends 'base.html.twig' %}

{% block title %}Saisie écriture comptable{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Saisie écriture comptable</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Comptabilité</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Saisie</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                    {% if edit %}
                        Modification du mouvement N° {{edit}}
                    {% else %}
                        Saisir nouveau écriture
                    {% endif %} 
                    </h4>
                    <hr>
                    {{ form_start(form) }}
                    <div class="row"> 
                        <div class="col-md-3">{{ form_row(form.categorie, { label: 'Journal'}) }}</div>
                        <div class="col-md-3">{{ form_row(form.date) }}</div>
                        <div class="offset-md-2 col-md-4">{{ form_row(form.piece, { label: 'Reference de pièce'}) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">{{ form_row(form.montant) }}</div>
                        <div class="col-md-9">{{ form_row(form.libelle, { label: 'Libellé',attr:{placeholder:"Description de l'opération"}}) }}</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-5">{{ form_row(form.compteDebit,{ label: 'Compte débité'}) }}</div>
                        <div class="offset-md-2 col-md-5">{{ form_row(form.compteCredit,{ label: 'Compte crédité'}) }}</div>
                    </div>

                    <div class="row my-2">
                      <div class="col-md-3">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="checkAna">
                          <label class="form-check-label" for="checkAna">
                            Sasie analytique
                          </label>
                        </div>
                      </div>
                      
                      <div class="form-check col-md-3">
                        <input class="form-check-input" type="checkbox" value="" id="checkTier">
                        <label class="form-check-label" for="checkTier">
                          Saisie tier
                        </label>
                      </div>
                      <div class="form-check col-md-3">
                        <input class="form-check-input" type="checkbox" value="" id="checkBud">
                        <label class="form-check-label" for="checkBud">
                          Saisie budget
                        </label>
                      </div>
                    </div>

                    <div>
                      <div class="row" id="ana">
                          <div class="col-md-6">{{ form_row(form.analytic,{ label: 'Compte analytique'}) }}</div>
                      </div>
                      <div class="row" id="tier">
                          <div class="col-md-6">{{ form_row(form.tier,{ label: 'Compte tier'}) }}</div>
                      </div>
                      <div class="row" id="bud">
                          <div class="col-md-6">{{ form_row(form.budget,{ label: 'Poste budgetaire'}) }}</div>
                      </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12 text-right">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-check-circle" aria-hidden="true"></i> Valider</button>
                        </div>
                    </div>

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
    {% for message in app.flashes('success') %}
    <div id="success-alert" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mutuelle santé - Succès</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Information sur l'enregistrement de l'écriture</h6>
                <p>{{message}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
            </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
<script>
  $('#success-alert').modal();
  $('#ana').hide();
  $('#bud').hide();
  $('#tier').hide();
  $('#checkAna').change(function(e) {
    if ($(this).prop('checked')) 
      $('#ana').show('slow');
    else 
      $('#ana').hide('slow');
  });

  $('#checkBud').change(function(e) {
    if ($(this).prop('checked')) 
      $('#bud').show('slow');
    else 
      $('#bud').hide('slow');
  });

  $('#checkTier').change(function(e) {
    if ($(this).prop('checked')) 
      $('#tier').show('slow');
    else 
      $('#tier').hide('slow');
  });
</script>
{% endblock %}
