{% extends 'base.html.twig' %}

{% block title %}Inscrire congrégation{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Inscription congrégation</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Adhésion</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Inscription</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Remplissez le formulaire avec les informations de la congrégation</h4>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            {{ form_start(form) }}
                                {{ form_widget(form) }}    
                                {{ form_row(form.numero, { 'label': 'Numero :' }) }}                        
                                {{ form_row(form.nom, { 'label': 'Nom de la congrégation :' }) }}                        
                                {{ form_row(form.adresse, { 'label': 'Adresse :' }) }}                        
                                {{ form_row(form.telephone1, { 'label': 'N° Tel :' }) }}                        
                                {{ form_row(form.telephone2, { 'label': 'N° Tel (autres):' }) }}   
                                {{ form_row(form.email, { 'label': 'Adresse email :' }) }}                                             
                                {{ form_row(form.dateInscription, { 'label': 'Date d\'adhésion dans la mutuelle :' }) }}                                             
                                {{ form_row(form.photo, { 'label': 'Logo de la congrégation :' }) }}                                             
                                <button type="submit" class="btn btn-success">Enregistrer</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
