{% extends 'base.html.twig' %}

{% block title %}Liste des congrégations adhérées{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/libs/datatable/dist/dataTables.bootstrap4.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Liste des congrégations adhérées</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Adhésion</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Liste</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Liste des congrégations adhérées</h4>
                    <hr>
                    <div class="table-responsive">
                        <table id="zero_config" class="table border">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Code</th>
                                    <th scope="col">Nom de la congrégation</th>
                                    <th scope="col">Adresse</th>
                                    <th scope="col">Bénéficiaires</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for adherent in adherents %}
                                    <tr>
                                        <th scope="row">{{ adherent.numero }}</th>
                                        <td>{{ adherent.nom }}</td>
                                        <td>{{ adherent.adresse }}</td>
                                        <td>{{ adherent.nbBeneficiaires }}</td>
                                        <td>
                                            <a href="{{ path('adhesion_show', {'id': adherent.id}) }}"class="label btn-primary label-primary">Voir</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/libs/datatable/dist/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('dist/js/pages/datatable/datatable-basic.init.js') }}"></script>
{% endblock %}