{% extends 'base.html.twig' %}

{% block title %}{{ adherent.nom }}{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Fiche d'adhésion N°{{ adherent.numero }}</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Adhésion</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Fiche</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/libs/datatable/dist/dataTables.bootstrap4.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">    
                    <h4 class="card-title">Congrégation</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 border-right">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="list-style-none">     
                                        <li class="my-3">
                                            <img src="{{ asset(adherent.photo) }}" alt="profile" class="img-thumbnail mx-auto d-block" height="150" width="150">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="list-style-none border-bottom-white">
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Nom congrégation:</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> N° code:</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Adresse:</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Numéro téléphone:</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Email:</span>
                                        </li>
                                        <li class="my-3">
                                            <span class="font-weight-medium text-dark"> Date d'entrée:</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-8">
                                    <ul class="list-style-none">
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.nom }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.numero }}</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.adresse }}</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.telephone1 }} {% if adherent.telephone2 %}/ {{ adherent.telephone2 }}{% endif %}</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {% if adherent.email %}{{ adherent.email }}{% else %} ... {% endif %} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.dateInscription | date('d / m / Y') }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <h4 class="card-title">Informations pour l'année {{ exercice.annee }}</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="list-style-none border-bottom-white">                
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Cotisation ancien </span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Cotisation nouveau </span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Ancien béneficiaire </span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Nouveau béneficiaire </span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Cotisation annuelle</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-8">
                                    <ul class="list-style-none">
                                        <li class="my-3 border-bottom">
                                            <span> {{ exercice.cotAncien|number_format(0,',',' ') }} / bénéficiaire / ans</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ exercice.cotNouveau|number_format(0,',',' ') }} / bénéficiaire / ans</span>
                                        </li>
                                        
                                        <li class="my-3 border-bottom">               
                                            <span> {{ compteCotisation.ancien }}</span>
                                        </li>
                                        <li class="my-3 border-bottom">               
                                            <span> {{ compteCotisation.nouveau }}</span>
                                        </li>
                                        <li class="my-3 border-bottom">   
                                            <span> {{ compteCotisation.due|number_format(0,',',' ') }} </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="list-style-none">
                                <div class="btn-list">
                                    {% if exercice.isCurrent  %}
                                    <a href="{{ path('adhesion_edit', {'id': adherent.id}) }}"class="btn btn-sm btn-success"><i class="mdi mdi-border-color"></i> Modifier</a>
                                    {% endif %}
                                    <a href="{{ path('cotisation_show', {'id': adherent.id}) }}"class="btn btn-sm btn-primary"><i class="mdi mdi-calendar-check"></i> Voir fiche de cotisation</a>
                                    <a href="{{ path('prestation_adherent_show', {'id': adherent.id}) }}"class="btn btn-sm btn-info"><i class="mdi mdi-home-map-marker"></i> Voir fiche de prestation</a>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-5">
                            <h4 class="card-title">Bénéficiaire</h4>
                        </div>
                        {% if exercice.isCurrent and not exercice.isCloture %}
                        <div class="col-4">
                            <div class="text-right">
                                <a href="{{ path('adhesion_add_pac_xlsx', {'id': adherent.id}) }}" class="btn btn-sm btn-success"><i class="mdi mdi-upload"></i>  Importer depuis Excel</a>
                            </div> 
                        </div>
                        <div class="col-3">
                            <div class="text-right">
                                <a href="{{ path('adhesion_add_pac', {'id': adherent.id}) }}" class="btn btn-sm btn-info"><i class="mdi mdi-account-plus"></i> Ajouter</a>
                            </div> 
                        </div>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered no-padding" id="order_2_desc">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">N° Matricule</th>
                                    <th scope="col">Date d'entrée</th>
                                    <th scope="col">Nom et prénom</th>
                                    <th scope="col">Date naissance</th>
                                    <th scope="col">Fonction</th>
                                    {% if exercice.isCurrent %}
                                    <th scope="col">Action</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for pac in adherent.pacs %}
                                    {% if not pac.isSortie %}
                                        <tr>
                                            <th scope="row">{{ adherent.numero }}/{{ pac.codeMutuelle }}</th>
                                            <td>{{ pac.dateEntrer | date('d/m/Y') }}</td>
                                            <td>{{ pac.nom }} {{ pac.prenom }}</td>
                                            <td>{{ pac.dateNaissance | date('d/m/Y') }}</td>
                                            <td>{{ pac.parente }}</td>
                                            {% if exercice.isCurrent  %}
                                            <td>
                                                <a href="{{ path('adhesion_edit_pac', { 'id': adherent.id, 'idPac': pac.id }) }}" class="label btn-warning label-primary"><i class="fas fa-edit"></i></a>
                                                {% if not adherent.compteCotisation(exercice).isPaye %}<a href="{{ path('adhesion_remove_pac', { 'id': adherent.id, 'idPac': pac.id }) }}" class="label btn-danger label-danger"><i class="fa fa-times" aria-hidden="true"></i></button>{% endif %}
                                            </td>
                                            {% endif %}
                                        </tr>
                                    {% endif %}                                
                                {% endfor %}                                
                            </tbody>
                        </table>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12 text-right">
                            <a href="{{ path('export_beneficiaire', {'id': adherent.id}) }}" class="btn btn-success"><i class="mdi mdi-file-export"></i> Exporter EXCEL</a>
                            <a href="{{ path('dashboard_pdf_beneficiaire', {'id': adherent.id}) }}" class="btn btn-danger"><i class="mdi mdi-file-export"></i> Exporter PDF</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/libs/datatable/dist/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('dist/js/pages/datatable/datatable-basic.init.js') }}"></script>
{% endblock %}