{% extends 'base.html.twig' %}

{% block title %}Fiche d'adhésion N°{{ adherent.id }}{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Fiche d'adhésion N°{{ adherent.id }}</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Adhésion</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Fiche</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/libs/datatable/dist/dataTables.bootstrap4.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">    
                    <h4 class="card-title">Congrégation</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 border-right">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="list-style-none">     
                                        <li class="my-3">
                                            <img src="{{ asset(adherent.photo) }}" alt="profile" class="img-thumbnail mx-auto d-block" height="150" width="150">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="list-style-none border-bottom-white">
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Nom congrégation:</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Adresse:</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Numéro téléphone:</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Email:</span>
                                        </li>
                                        <li class="my-3">
                                            <span class="font-weight-medium text-dark"> Date d'entrée:</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-8">
                                    <ul class="list-style-none">
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.nom }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.adresse }}</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.telephone1 }} {% if adherent.telephone2 %}/ {{ adherent.telephone2 }}{% endif %}</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {% if adherent.email %}{{ adherent.email }}{% else %} ... {% endif %} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.dateInscription | date('d / m / Y') }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <h4 class="card-title">Détails</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="list-style-none border-bottom-white">                
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Droit d'ahésion payé:</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Cotisation ancien :</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Cotisation nouveau :</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Ancien béneficiaire :</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Nouveau béneficiaire :</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Cotisation annuelle:</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-8">
                                    <ul class="list-style-none">
                                        <li class="my-3 border-bottom">
                                            <span> {{ exercice.droitAdhesion }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ exercice.cotAncien }} / bénéficiaire / ans</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ exercice.cotNouveau }} / bénéficiaire / ans</span>
                                        </li>
                                        <li class="my-3 border-bottom">               
                                            <span> {{ adherent.nbAncien }}</span>
                                        </li>
                                        <li class="my-3 border-bottom">               
                                            <span> {{ adherent.nbNouveau }}</span>
                                        </li>
                                        <li class="my-3 border-bottom">   
                                            {% set cotisation = adherent.nbNouveau * exercice.cotNouveau + exercice.cotAncien * adherent.nbAncien %}   
                                            <span> {{ cotisation }} </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="list-style-none">
                                <div class="btn-list">
                                    <a href="{{ path('adhesion_edit', {'id': adherent.id}) }}"class="btn btn-sm btn-success"><i class="mdi mdi-border-color"></i> Modifier</a>
                                    <a href="{{ path('cotisation_show', {'id': adherent.id}) }}"class="btn btn-sm btn-primary"><i class="mdi mdi-calendar-check"></i> Voir fiche de cotisation</a>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-5">
                            <h4 class="card-title">Béneficiaire</h4>
                        </div>
                        <div class="col-4">
                            <div class="text-right">
                                <a href="{{ path('adhesion_add_pac_xlsx', {'id': adherent.id}) }}" class="btn btn-sm btn-primary"><i class="mdi mdi-upload"></i> Importer</a>
                            </div> 
                        </div>
                        <div class="col-3">
                            <div class="text-right">
                                <a href="{{ path('adhesion_add_pac', {'id': adherent.id}) }}" class="btn btn-sm btn-info"><i class="mdi mdi-account-plus"></i> Ajouter</a>
                            </div> 
                        </div>
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table" id="zero_config">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Date d'entrée</th>
                                    <th scope="col">N° Matricule</th>
                                    <th scope="col">Nom et prénom</th>
                                    <th scope="col">Date naissance</th>
                                    <th scope="col">Fonction</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set key = 1 %}
                                {% for pac in adherent.pacs %}
                                    {% if not pac.isSortie %}
                                        <tr>
                                            <th scope="row">{{ key }}</th>
                                            <td>{{ pac.dateEntrer | date('d / m / Y') }}</td>
                                            <td>{{ adherent.numero }} / {{ pac.codeMutuelle }}</td>
                                            <td>{{ pac.nom }} {{ pac.prenom }}</td>
                                            <td>{{ pac.dateNaissance | date('d / m / Y') }}</td>
                                            <td>{{ pac.parente }}</td>
                                            <td>
                                                <a href="{{ path('adhesion_edit_pac', { 'id': adherent.id, 'idPac': pac.id }) }}" class="label btn-warning label-warning">Modifier</a>
                                                <a href="{{ path('adhesion_remove_pac', { 'id': adherent.id, 'idPac': pac.id }) }}" class="label btn-danger label-danger">Retirer</button>
                                            </td>
                                        </tr>
                                        {% set key = key + 1 %}  
                                    {% endif %}                                
                                {% endfor %}                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/libs/datatable/dist/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('dist/js/pages/datatable/datatable-basic.init.js') }}"></script>
{% endblock %}