{% extends 'base.html.twig' %}

{% block title %}Fiche d'adhésion N°{{ adherent.id }}{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Fiche d'adhésion N°{{ adherent.id }}</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Adhésion</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Fiche</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">    
                    <h4 class="card-title">Adhérent</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 border-right">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="list-style-none">     
                                        <li class="my-3">
                                            <img src="{{ asset(adherent.photo) }}" alt="profile" class="img-thumbnail mx-auto d-block" height="150" width="150">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="list-style-none border-bottom-white">
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Nom et prénom:</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Date de naissance:</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Adresse:</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Profession:</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Numéro téléphone:</span>
                                        </li>
                                        <li class="my-3">
                                            <span class="font-weight-medium text-dark"> Numéro de code:</span>
                                        </li>
                                        <li class="my-3">
                                            <span class="font-weight-medium text-dark"> Date d'entrée:</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-8">
                                    <ul class="list-style-none">
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.nom }} {{ adherent.prenom }}</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.dateNaissance | date('d / m / Y') }}</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.adresse }}</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.profession }}</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.telephone1 }} {% if adherent.telephone2 %}/ {{ adherent.telephone2 }}{% endif %}</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.codeMutuelle }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.dateInscription | date('d / m / Y') }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <h4 class="card-title">Garantie santé</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="list-style-none border-bottom-white">
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Nom de la garantie:</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Droit d'ahésion:</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Type de cotisation:</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Montant cotisation:</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Cotisation mensuelle:</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Période observation:</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-8">
                                    <ul class="list-style-none">
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.garantie.nom }}</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.garantie.droitAdhesion }}</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.garantie.typeCotisation.nom }}</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.garantie.montant1 }} / béneficiaire / mois</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.garantie.montant1 * adherent.valueTailleFamille }}</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.dateInscription | date('d / m / Y') }}  au  {{ adherent.dateInscription | date_modify('+' ~ adherent.garantie.periodeObservation ~ 'months') | date('d / m / Y') }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="list-style-none">

                                <div class="btn-list">
                                    <a href="{{ path('adhesion_edit', {'id': adherent.id}) }}"class="btn btn-sm btn-success"><i class="mdi mdi-border-color"></i> Modifier</a>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-5">
                            <h4 class="card-title">Personnes à charge</h4>
                        </div>
                        <div class="col-7">
                            <div class="text-right">
                                <a href="{{ path('adhesion_add_pac', {'id': adherent.id}) }}" class="btn btn-sm btn-info"><i class="mdi mdi-account-plus"></i> Ajouter</a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Date d'entrée</th>
                                    <th scope="col">N° code</th>
                                    <th scope="col">Nom et prénom</th>
                                    <th scope="col">Date naissance</th>
                                    <th scope="col">Lien parenté</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set key = 1 %}
                                {% for pac in adherent.pacs %}
                                    {% if not pac.isSortie %}
                                        <tr>
                                            <th scope="row">{{ key }}</th>
                                            <td>{{ pac.dateEntrer | date('d / m / Y') }}</td>
                                            <td>{{ pac.codeMutuelle }}</td>
                                            <td>{{ pac.nom }} {{ pac.prenom }}</td>
                                            <td>{{ pac.dateNaissance | date('d / m / Y') }}</td>
                                            <td>{{ pac.parente }}</td>
                                            <td>
                                                <a href="{{ path('adhesion_edit_pac', { 'id': adherent.id, 'idPac': pac.id }) }}" class="label btn-warning label-warning">Modifier</a>
                                                <a href="{{ path('adhesion_remove_pac', { 'id': adherent.id, 'idPac': pac.id }) }}" class="label btn-danger label-danger">Retirer</button>
                                            </td>
                                        </tr>
                                        {% set key = key + 1 %}  
                                    {% endif %}                                
                                {% endfor %}                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}