{% extends 'base.html.twig' %}

{% block title %}Prestations consommées{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/libs/datatable/dist/dataTables.bootstrap4.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Prestations consommées par {{ pac.nom ~ ' ' ~ pac.prenom }} </h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Prestation</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Béneficiaire</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">    
                    <h4 class="card-title">Bénéficiaire</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 border-right">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="list-style-none">     
                                        <li class="my-3">
                                            <img src="{{ asset(pac.photo) }}" alt="profile" class="img-thumbnail mx-auto d-block" height="150" width="150">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="list-style-none border-bottom-white">
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Congrégation:</span>
                                        </li>
                                        <li class="my-3">
                                            <span class="font-weight-medium text-dark"> Nom et prénom:</span>
                                        </li>
                                        <li class="my-3">
                                            <span class="font-weight-medium text-dark"> N° matricule:</span>
                                        </li>
                                        <li class="my-3">
                                            <span class="font-weight-medium text-dark"> Date d'entrée:</span>
                                        </li>
                                        <li class="my-3">
                                            <span class="font-weight-medium text-dark"> Téléphone:</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-8">
                                    <ul class="list-style-none">
                                        <li class="my-3 border-bottom">
                                            <span> {{ pac.adherent.nom }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ pac.nom ~ ' ' ~ pac.prenom }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ pac.matricule }}</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ pac.dateEntrer | date('d/m/Y') }}</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span>{% if pac.tel %} {{ pac.tel }}{% else %} <span class="text-muted">...</span>{% endif %} </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>                           
                        </div>
                        <div class="col-md-6">
                            <h4 class="card-title">Informations année {{ exercice.annee }}</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="list-style-none border-bottom-white">                
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Total des montants remboursés</span>
                                        </li>
                                    </ul>
                                    <a href="{{ path('prestation_adherent_show', {'id': pac.adherent.id}) }}"class="btn btn-sm btn-primary my-2"><i class="mdi mdi-home-map-marker"></i> Voir fiche de prestation congrégation</a>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-style-none">
                                        <li class="my-3 border-bottom">
                                            <span> {{ info.tRemb|number_format(0,',',' ') }} </span>
                                        </li>
                            
                                    </ul>
                                </div>
        
                            </div>
                            {% if info.possedeDroit %}
                                <div class="alert alert-success">
                                    Ce personne peut bénéficier de prestation
                                </div>
                            {% else %}
                                <div class="alert alert-danger">
                                    Ce personne ne peut pas bénéficier de prestation car sa congrégation n'a pas payé entierement son cotisation 
                                </div>
                            {% endif %}

                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-6">
                            <h4 class="card-title">Liste des prestations consommées</h4>
                        </div>
                        {% if info.possedeDroit and exercice.isCurrent and not exercice.isCloture %}
                        <div class="col-6">
                            <div class="text-right">
                                <a href="{{ path('prestation_beneficiaire_decompte', {'id' : pac.id}) }}" class="btn btn-sm btn-info"><i class="mdi mdi-hospital"></i> Saisir decompte de prestations</a>
                            </div> 
                        </div>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="zero_config">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Soin</th>
                                    <th scope="col">Frais</th>
                                    <th scope="col">Décidé</th>
                                    <th scope="col">%</th>
                                    <th scope="col">Réf décompte</th>
                                    <th scope="col">Paiement</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set tFrais = 0 %}
                                {% set tRemb = 0 %}

                                {% for prestation in prestations %}
                                    {% set title = "" %}
                                    {% if prestation.prestataire %}{% set title = 'Prestataire : ' ~ prestation.prestataire %}{% endif %}
                                    {% if prestation.facture %}{% set title = title ~ ' | Facture : ' ~ prestation.facture %}{% endif %}

                                    <tr {% if title != "" %} data-toggle="tooltip" title="{{ title }}"{% endif %}>
                                        <th scope="row">{{ loop.index }}</th>
                                        <td>{{ prestation.date | date('d/m/Y') }}</td>
                                        <td>{{ prestation.designation }}</td>
                                        <td>{{ prestation.frais|number_format(2,',',' ') }}</td> {% set tFrais = tFrais + prestation.frais %}

                                        <td>
                                            {% if prestation.status == 1 %}
                                                {{ prestation.rembourse|number_format(2,',',' ') }}
                                            {% else %}       
                                                {% if prestation.status == 0 %}<span class="label label-rounded label-info">En attente</span>
                                                {% else %}<span class="label label-rounded label-danger">Refusé</span>{% endif %}
                                            {% endif %}
                                            </td> {% set tRemb = tRemb + prestation.rembourse %}

                                        <td>{{ (prestation.rembourse / prestation.frais)|round(2, 'floor') * 100 }}%</td>
                                        <td>{{ pac.matricule ~ '/' ~ app.session.get('exercice').annee ~ '/' ~ prestation.decompte }}</td>
                                        <td>
                                            {% if prestation.isPaye %}
                                                <span class="label label-rounded label-success">Payé</span>
                                            {% else %}
                                                <span class="label label-rounded label-primary">Non Payé</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    
                                    {% if loop.last %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th scope="row" colspan=3>Total</th>
                                                <td>{{ tFrais|number_format(2,',',' ') }}</td>
                                                <td>{{ tRemb|number_format(2,',',' ') }}</td>
                                                <td>{{ (tRemb / tFrais)| round(2, 'floor') * 100 }}%</td>
                                                <td colspan=2></td>
                                            </tr>
                                        </tfoot>
                                    {% endif %}
                                
                                {% else %}
                                    <tr><td colspan=8>Aucun prestation enregistré pendant cet exercice</td></tr>                           
                                {% endfor %}                                                        
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/libs/datatable/dist/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('dist/js/pages/datatable/datatable-basic.init.js') }}"></script>
{% endblock %}
