{% extends 'base.html.twig' %}

{% block title %}Saisir décompte de prestations{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('dist/css/bootstrap-datepicker.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Saisie décompte de prestations</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Prestation</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Saisie</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Décompte de prestations</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-4 p-2">
                            <h6 class="font-medium">Bénéficiaire</h6> 
                            <span>N°{{ pac.adherent.numero ~ '/' ~ pac.codeMutuelle }} | {{ pac.nom ~ ' ' ~ pac.prenom }}</span>
                        </div>
                        <div class="col-md-4 border rounded p-2 bg-light text-center" data-toggle="tooltip" title="Veuillez noté ce réference sur le décompte de présatations">
                            <span class="lead">Référence de décompte</span> <br>
                            <span class="pl-3" style="font-size: 1.5rem;">{{ pac.adherent.numero }} / {{ app.session.get('exercice').annee }} / {{ numero }}</span>
                        </div>
                        <div class="col-md-4 text-right p-2">
                            <button class="btn btn-info" data-toggle="modal" href="#modal"><i class="mdi mdi-bookmark-plus-outline"></i> Ajouter prestation</button>
                        </div>
                    </div>
                    <div class="alert alert-danger p-2 m-4" style="display: none" id="alert">
                    </div>                   
                    <div class="row mt-4">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered" id="decompte">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Designation</th>
                                        <th scope="col">Frais</th>
                                        <th scope="col">Remb</th>
                                        <th scope="col">%</th>
                                        <th scope="col">Prestataire</th>
                                        <th scope="col">Facture</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="row">                       
                        <div class="col-md-10 text-right">
                            {% if app.session.get('exercice').isCurrent %}
                            <form action="{{ path('prestation_beneficiaire_save_decompte', {'id' : pac.id}) }}" method="post" id="formDecompte">
                                <button type="submit" class="btn btn-success disabled" id="save"><i class="mdi mdi-content-save-all"></i> Enregistrer</button>
                            </form>
                            {% endif %}
                        </div>
                        <div class="col-md-2 text-right">
                            <a href="{{ path('prestation_beneficiaire', {'id': pac.id}) }}" class="btn btn-secondary"><i class="mdi mdi-close-circle-outline"></i> Annuler</a>
                        </div>
                    </div>      
                </div>
            </div>
        </div>
    </div>

    <div style="display: none;">
        <input type="hidden" id="index_del">
        <button id="del">del</button>
    </div>

    <div class="modal fade" id="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Saisie de prestation</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="prestation">
                    <div class="modal-body">
                        <div class="row">                                                  
                            <div class="col-12">
                                    <input type="hidden" name="index" id="prestation_index">

                                    <div class="form-group row">
                                        <label for="prestation_date" class="col-form-label col-sm-3 required">Date *</label>
                                        <div class="col-sm-6">
                                            <input type="text" id="prestation_date" name="prestation[date]" autocomplete="false" required="required" class="form-control datepicker" auto-fill="false">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="prestation_designation" class=" col-form-label col-sm-3 required">Désignation *</label>
                                        <div class="col-sm-9">
                                            <select name="prestation[designation]" id="prestation_designation" required="required" class="form-control">
                                                {% for code, designation in soins %}
                                                    <option value="{{ code }}">{{ designation }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="prestation_frais" class="col-form-label col-sm-3 required">Frais *</label>
                                        <div class="col-sm-9">
                                            <input type="number" id="prestation_frais" name="prestation[frais]" required="required" class="form-control">
                                        </div>
                                    </div>
                                    {# Pour selectionner le status de la prestation #}
                                    <div class="form-group row">
                                        <label for="prestation_status" class="col-form-label col-sm-3 required">Status *</label>
                                        <div class="col-sm-9">
                                            <select name="prestation[status]" id="prestation_status" required="required" class="form-control">
                                                <option value="0">En attente de décision</option>
                                                <option value="1">Remboursé</option>
                                                <option value="-1">Non remboursé</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row" id="remb_form">
                                        <label for="prestation_rembourse" class="col-form-label col-sm-3 required">Remboursés *</label>
                                        <div class="input-group col-sm-3">    
                                            <input type="number" id="prestation_percent" value="{{ remb * 100 }}" required="required" class="form-control">
                                            <div class="input-group-append">
                                                <span class="input-group-text">%</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">    
                                            <input type="number" id="prestation_rembourse" name="prestation[rembourse]" required="required" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="prestation_prestataire" class="col-form-label col-sm-3">Prestataire </label>
                                        <div class="col-sm-9">    
                                            <input type="text" id="prestation_prestataire" name="prestation[prestataire]" maxlength="255" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="prestation_facture" class="col-form-label col-sm-3">Facture </label>
                                        <div class="col-sm-9">    
                                            <input type="text" id="prestation_facture" name="prestation[facture]" maxlength="255" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row btn-list">
                                        <div class="col-12 text-right">
                                            <button type="reset" class="btn btn-danger mr-3" data-dismiss="modal" id="fermer"><i class="mdi mdi-close-circle-outline"></i> Fermer</button>
                                            <button type="submit" class="btn btn-info" id="Ajouter"><i class="mdi mdi-login-variant"></i> Ajouter</button>
                                        </div>
                                    </div>
                                </form>
                            </div>                       
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('dist/js/datepicker.js') }}"></script>
    <script>
        $(document).ready(function() {            
            var prestations = new Array();
            
            $('#prestation').submit(function(e) {
                e.preventDefault();
                var index = $('#prestation_index').val();
                var prestation = {
                    'date'            :   $('#prestation_date').val(),
                    'designation'     :   $('#prestation_designation').val(),
                    'frais'           :   $('#prestation_frais').val(),
                    'status'          :   $('#prestation_status').val(),
                    'prestataire'     :   $('#prestation_prestataire').val(),
                    'facture'         :   $('#prestation_facture').val()
                };
                // Montant remboursé
                if (prestation.status != 1) {
                    prestation.rembourse = 0;
                } else {
                    prestation.rembourse = $('#prestation_rembourse').val();
                }

                if (index) {
                    prestations[index] = prestation;
                } else {                   
                    prestations.push(prestation);
                }
                refreshTable(prestations);
                $('#prestation_index').val(null);
                $('#prestation').trigger("reset");
            }); 

            $('#prestation_frais').change(function(e) {
                var percent = parseFloat($('#prestation_percent').val());
                var frais =  parseFloat($(this).val());
                $('#prestation_rembourse').val(Math.round(percent * frais / 100));
            });

            $('#prestation_percent').change(function(e) {
                var percent = parseFloat($(this).val());
                var frais =  parseFloat($('#prestation_frais').val());
                $('#prestation_rembourse').val(Math.round(percent * frais / 100));
            });

            $('#prestation_rembourse').change(function(e) {
                var rembourse = parseFloat($(this).val());
                var frais = parseFloat($('#prestation_frais').val());
                $('#prestation_percent').val(Math.round((rembourse/frais )*100));
            });

            // When status changed
            $('#remb_form').hide();  // First
            $('#prestation_status').change(function(e) {
                var status = $(this).val();
                if (status == 1) {
                   $('#remb_form').show("slow"); 
                } else {
                   $('#remb_form').hide("slow");  
                }  
            });

            $('#del').click(function(e) {
                e.preventDefault();
                var index = $('#index_del').val();
                prestations.splice(index, 1);  
                refreshTable(prestations);
            });   

            $('#fermer').click(function(e) {
                e.preventDefault();
                $('#prestation').trigger("reset");
                $('#modal').modal('hide');
            });  
 

            $("#formDecompte").submit(function(event){
                event.preventDefault(); 
                var post_url = $(this).attr("action");
                var form_data = { 
                    'prestations': prestations,
                    'numero': {{ numero }}
                }; 

                $.post( post_url, JSON.stringify(form_data), function(response) {
                    if (response.hasError == false) {
                        window.location.href = "{{ path('prestation_beneficiaire', {'id' : pac.id}) }}";
                    } else {
                        const errors = response.ErrorMessages;
                        $("#alert").empty();
                        for (let index = 0; index < errors.length; index++) {
                            const message = errors[index];
                            if (index == 0) {
                                $('#alert').append('<h4>'+ message +'</h4>');                   
                            } else {
                                $('#alert').append('<p>'+ message +'</p>');                   
                            }
                        }
                        $("#alert").show("slow");
                    }                   
                });
            });            
        });

        function refreshTable(prestations) {
            $('#decompte tbody').empty();
            $('#decompte tfoot').empty();

            var totFrais = 0, totRembourse = 0;
            
            for (let index = 0; index < prestations.length; index++) {
                var prestation = prestations[index];
                var markup = "<tr><th scope='row'>"+ (index + 1) +"</th>";
                markup += "<td>" + prestation.date + "</td>";
                markup += "<td>" + prestation.designation + "</td>";
                markup += "<td>" + prestation.frais + "</td>";
                // Switch prestation_status
                if (prestation.status == 1) {
                    markup += "<td>" + prestation.rembourse + "</td>";
                } else if (prestation.status == 0) {
                    markup += "<td><span class='label label-rounded label-sm label-info'>En attente</span></td>";
                } else {
                    markup += "<td><span class='label label-rounded label-sm label-danger'>Non remb</span></td>";
                }
                
                markup += "<td>" + Math.round((prestation.rembourse / prestation.frais)*100) + " %</td>";
                markup += "<td>" + prestation.prestataire + "</td>";
                markup += "<td>" + prestation.facture + "</td>";
                markup += "<td>" + "<span class='action-icons'><a href='javascript:edit("+index+','+ JSON.stringify(prestation)+")'><i class='ti-pencil-alt'></i></a><a href='javascript:del("+index+")' style='padding-left:7px;color:#f62d51;'><i class='ti-trash'></i></a></span>" + "</td>";      
                markup += "</tr>";

                totRembourse += parseFloat(prestation.rembourse); 
                totFrais += parseFloat(prestation.frais); 

                $('#decompte tbody').append(markup);                   
            }
            if (prestations.length != 0) {
                var totMarkup = "<tr><th scope='row' colspan=3>Total</th>";
                totMarkup += "<td>" + totFrais + "</td>";
                totMarkup += "<td>" + totRembourse + "</td>";
                totMarkup += "<td>" + Math.round((totRembourse / totFrais)*100) + " %</td><td colspan=3></td>";
                $('#decompte tfoot').append(totMarkup);  
                $('#save').removeClass('disabled');
            } else {
                $('#save').addClass('disabled');
            }        
        }

        function edit(index, prestation) {
            $('#prestation_index').val(index);
            $('#prestation_date').val(prestation.date);
            $('#prestation_designation').val(prestation.designation);
            $('#prestation_frais').val(prestation.frais);
            $('#prestation_rembourse').val(prestation.rembourse);
            $('#prestation_percent').val(Math.round((prestation.rembourse/prestation.frais)*100));
            $('#prestation_prestataire').val(prestation.prestataire);
            $('#prestation_facture').val(prestation.facture);
            $('#modal').modal('show');
        }

        function del(index) {
            $('#index_del').val(index);
            $('#del').click();
        } 
    </script>
{% endblock %}
