{% extends 'base.html.twig' %}

{% block title %}Détail de remboursement{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Détail de remboursement</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Prestation</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Remboursements</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Remboursement #{{remboursement.id}}</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-4 p-2">
                            <h6 class="font-medium">Congrégation</h6> 
                            <span>{{remboursement.adherent.numero}} - {{remboursement.adherent.nom}}</span>
                        </div>
                        <div class="col-md-4 p-2">
                            <h6 class="font-medium">Date de paiement</h6> 
                            <span>{{remboursement.date|date('d/m/Y')}}</span>
                        </div>
                        <div class="col-md-4 p-2">
                            <h6 class="font-medium">Référence chèque</h6> 
                            <span>{{remboursement.reference}}</span>
                        </div>
                        {% if remboursement.remarque %}
                        <div class="col-md-12 p-2">
                            <span class="font-medium">Note</span> 
                            <span>{{remboursement.remarque}}</span>
                        </div>
                        {% endif %}
                    </div>

                    <table class="table table-bordered table-hover no-padding border">
                        <thead class="thead-light">
                            <tr>
                                <th>N°matricule</th>
                                {% for soin, code in donnees.soins %}
                                    <th>{{code}}</th>
                                {% endfor %}
                                <th>Total frais</th>
                                <th>Remboursé</th>
                                <th>%</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% set frais = 0 %}{% set rembourse = 0 %}
                        {% for beneficiaire in donnees.beneficiaires %}
                            <tr>
                                <th>{{beneficiaire.matricule}}</th>
                                {% for soin, code in donnees.soins %}
                                    <td>{% if beneficiaire[soin] != 0 %}{{beneficiaire[soin]|number_format(2,',',' ')}}{% endif %}</td>
                                {% endfor %}
                                <td>{{beneficiaire.frais|number_format(2,',',' ')}}</td> {% set frais = frais+beneficiaire.frais %}
                                <td>{{beneficiaire.rembourse|number_format(2,',',' ')}}</td> {% set rembourse = rembourse+beneficiaire.rembourse %}
                                <td>{{(beneficiaire.rembourse/beneficiaire.frais*100)|round(3, 'floor')}}%</td>
                            </tr>
                        {% endfor %}
                        </tbody>  
                        <tfoot>
                            <tr class="font-weight-bold">
                                <th colspan={{1+donnees.soins|length}}>Total</th>
                                <td>{{frais|number_format(2,',',' ')}}</td>
                                <td>{{rembourse|number_format(2,',',' ')}}</td>
                                <td>{{(rembourse/frais*100)|round(3, 'floor')}}%</td>
                            </tr>
                        </tfoot>                       
                    </table>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <a href="{{ path('export_detail_remboursement', {'id': remboursement.id}) }}" class="btn btn-success"><i class="mdi mdi-file-export"></i> Exporter EXCEL</a>
                            <a href="#" class="btn btn-danger"><i class="mdi mdi-file-export"></i> Exporter PDF</a>
                            <a href="{{ path('prestation_adherent_show', {'id': adherent.id}) }}" class="btn btn-info"><i class="mdi mdi-close-circle-outline"></i> Fermer</a>
                        </div>
                    </div>  

                </div>
            </div>
        </div>
    </div>
{% endblock %}