{% extends 'base.html.twig' %}

{% block title %}Remboursement congrégation {{ adherent.nom }}{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/libs/datatable/dist/dataTables.bootstrap4.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Remboursement congrégation N°{{ adherent.numero }} - {{ adherent.nom }}</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Prestation</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Remboursement</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">    
                    <h4 class="card-title">Congrégation</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 border-right">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="list-style-none">     
                                        <li class="my-3">
                                            <img src="{{ asset(adherent.photo) }}" alt="profile" class="img-thumbnail mx-auto d-block" height="150" width="150">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="list-style-none border-bottom-white">
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Nom congrégation:</span>
                                        </li>
                                        <li class="my-3">
                                            <span class="font-weight-medium text-dark"> N° fiche d'adhésion:</span>
                                        </li>
                                        <li class="my-3">
                                            <span class="font-weight-medium text-dark"> Date d'entrée:</span>
                                        </li>                                       
                                    </ul>
                                </div>
                                <div class="col-md-8">
                                    <ul class="list-style-none">
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.nom }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.numero }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.dateInscription | date('d / m / Y') }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <h4 class="card-title">Informations de l'année {{ app.session.get('exercice').annee }}</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="list-style-none border-bottom-white">                
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark">Cotisation due</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark">Cotisation percue</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark">Total des montants remboursés</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Remboursement plafond</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Reste de remboursement </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-style-none">
                                        <li class="my-3 border-bottom">
                                            <span> {{ info.due }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ info.percue }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ info.tRemb }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ info.plafond }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ info.reste }} </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="list-style-none">
                                <div class="btn-list">
                                    <a href="{{ path('adhesion_show', {'id': adherent.id}) }}"class="btn btn-sm btn-success"><i class="mdi mdi-account-multiple"></i> Voir fiche d'adhésion</a>
                                    <a href="{{ path('cotisation_show', {'id': adherent.id}) }}"class="btn btn-sm btn-primary"><i class="mdi mdi-calendar-check"></i> Voir fiche de cotisation</a>
                                </div>
                            </ul>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-5">
                            <h4 class="card-title">Historique des remboursements</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered m-t-20">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Exercice</th>
                                        <th scope="col">Montant</th>
                                        <th scope="col">Méthode de paiement</th>
                                        <th scope="col">Reférence</th>
                                        <th scope="col">Détail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for remboursement in remboursements %}
                                        <tr>
                                            <th scope="row">{{ loop.index }}</th>
                                            <td>{{ remboursement.date |date('d/m/Y') }}</td>
                                            <td>{{ remboursement.exercice.annee }}</td>
                                            <td>{{ remboursement.montant }}</td>
                                            <td>{{ remboursement.tresorerie.libelle }}</td>
                                            <td>{{ remboursement.reference }}</td>
                                            <td><a href="{{ path('prestation_adherent_remboursement', { 'adh_id': adherent.id, 'remb_id': remboursement.id }) }}" class="label btn-primary label-primary">Voir</a></td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan=7>Pas de remboursement enrgistrés durant cet exercice</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>                     
                        </div>
                    </div>
                    
                    <div class="row mt-4">
                        <div class="col-5">
                            <h4 class="card-title">Présations en attente de remboursement</h4>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered m-t-20" id="zero_config">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Béneficiaire</th>
                                            <th scope="col">Designation</th>
                                            <th scope="col">Frais</th>
                                            <th scope="col">Remboursé</th>
                                            <th scope="col">% Remb</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% set tFrais = 0 %}
                                        {% set  tRembourse = 0 %}
                                        {% for prestation in prestationNotPayed %}
                                            <tr>
                                                <th>{{ loop.index }}</th>
                                                <td>{{ prestation.date |date('d/m /Y') }}</td>
                                                <td>{{ prestation.pac.codeMutuelle ~ ' - ' ~ prestation.pac.nom ~ ' ' ~ prestation.pac.prenom }}</td>
                                                <td>{{ prestation.designation }}</td>
                                                <td>{{ prestation.frais }}</td> {% set tFrais = tFrais + prestation.frais %}
                                                <td>{{ prestation.rembourse }}</td> {% set tRembourse = tRembourse + prestation.rembourse %}
                                                <td>{{ (prestation.rembourse / prestation.frais) | round(3, 'floor') * 100 }}%</td>
                                            </tr>

                                            {% if loop.last %}
                                                </tbody>                                    
                                                <tfoot>
                                                    <tr>
                                                        <th scope="row" colspan=4>Total</th>
                                                        <td>{{ tFrais }}</td>
                                                        <td>{{ tRembourse }}</td>
                                                        <td>{{ (tRembourse / tFrais)| round(3, 'floor') * 100 }}%</td>
                                                    </tr>
                                                </tfoot>
                                            {% endif %}
                                        {% else %}
                                            <tr>
                                                <td colspan=6>Aucun prestation en attente de remboursement </td>
                                            </tr>
                                        </tbody>                                    
                                        {% endfor %}
                        
                                </table>
                            
                            </div>
                        </div>
                        {% if tFrais != 0 %}
                            <div class="row mt-1">
                                <div class="col-12 text-right">
                                    <a href="{{ path('prestation_adherent_rembourser', {'id': adherent.id}) }}" class="btn btn-info"><i class="mdi mdi-credit-card"></i> Enregistrer paiement</a>
                                </div>
                            </div>      
                        {% endif %}             
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/libs/datatable/dist/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('dist/js/pages/datatable/datatable-basic.init.js') }}"></script>
{% endblock %}