{% extends 'base.html.twig' %}

{% block title %}Fiche de prestation de {{ adherent.nom }}{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/libs/datatable/dist/dataTables.bootstrap4.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Fiche de prestation de N°{{ adherent.numero }} - {{ adherent.nom }}</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Prestation</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Remboursement</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">    
                    <h4 class="card-title">Congrégation</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 border-right">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="list-style-none">     
                                        <li class="my-3">
                                            <img src="{{ asset(adherent.photo) }}" alt="profile" class="img-thumbnail mx-auto d-block" height="150" width="150">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="list-style-none border-bottom-white">
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Nom congrégation:</span>
                                        </li>
                                        <li class="my-3">
                                            <span class="font-weight-medium text-dark"> N° fiche d'adhésion:</span>
                                        </li>
                                        <li class="my-3">
                                            <span class="font-weight-medium text-dark"> Date d'entrée:</span>
                                        </li>                                       
                                    </ul>
                                </div>
                                <div class="col-md-8">
                                    <ul class="list-style-none">
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.nom }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.numero }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.dateInscription | date('d / m / Y') }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <h4 class="card-title">Informations de l'année {{ app.session.get('exercice').annee }}</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="list-style-none border-bottom-white">                
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark">Cotisation due</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark">Cotisation percue</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark">Total des montants remboursés</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Remboursement plafond</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Reste de remboursement </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-style-none">
                                        <li class="my-3 border-bottom">
                                            <span> {{ info.due|number_format(0,',',' ') }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ info.percue|number_format(0,',',' ') }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ info.tRemb|number_format(0,',',' ') }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ info.plafond|number_format(0,',',' ') }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ info.reste|number_format(0,',',' ') }} </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="list-style-none">
                                <div class="btn-list">
                                    <a href="{{ path('adhesion_show', {'id': adherent.id}) }}"class="btn btn-sm btn-success"><i class="mdi mdi-account-multiple"></i> Voir fiche d'adhésion</a>
                                    <a href="{{ path('cotisation_show', {'id': adherent.id}) }}"class="btn btn-sm btn-primary"><i class="mdi mdi-calendar-check"></i> Voir fiche de cotisation</a>
                                </div>
                            </ul>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-5">
                            <h4 class="card-title">Historique des remboursements</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table border no-padding m-t-20">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Exercice</th>
                                        <th scope="col">Montant</th>
                                        <th scope="col">Paiement depuis</th>
                                        <th scope="col">Reférence</th>
                                        <th scope="col">Détail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for remboursement in remboursements %}
                                        <tr {% if remboursement.remarque %} data-toggle="tooltip" title="{{ remboursement.remarque }}"{% endif %}>
                                            <th scope="row">{{ loop.index }}</th>
                                            <td>{{ remboursement.date |date('d/m/Y') }}</td>
                                            <td>{{ remboursement.exercice.annee }}</td>
                                            <td>{{ remboursement.montant|number_format(2,',',' ') }}</td>
                                            <td>{{ remboursement.tresorerie.titre }}</td>
                                            <td>{{ remboursement.reference }}</td>
                                            <td>
                                                <a href="{{ path('prestation_adherent_remboursement', {'id': remboursement.id }) }}" class="label btn-success label-success"><i class="fas fa-eye"></i></a>
                                                <a href="{{ path('prestation_adherent_remboursement_edit', {'id': remboursement.id }) }}" class="label btn-warning label-warning"><i class="fas fa-edit"></i></a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan=7>Pas de remboursement enrgistrés durant cet exercice</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>                     
                        </div>
                    </div>
                    
                    <div class="row mt-4">
                        <div class="col-5">
                            <h4 class="card-title">Prestations en attente</h4>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table border table-striped no-padding m-t-20" id="app">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col" style="width:3%">N°</th>
                                        <th scope="col" style="width:8%">Date</th>
                                        <th scope="col" style="width:8%">Béneficiaire</th>
                                        <th scope="col" style="width:15%">Designation</th>
                                        <th scope="col" style="width:10%">Reférence</th>
                                        <th scope="col" style="width:10%" class="text-center">Frais</th>
                                        <th scope="col" style="width:10%" class="text-center">Décidé</th>
                                        <th scope="col" style="width:5%">Pourcent</th>
                                    </tr>
                                </thead>
                                <tbody></tbody> 
                                <tfoot></tfoot>                                   
                            </table>
                        
                        </div>
                    </div>
                    {% if app.session.get('exercice').isCurrent and not app.session.get('exercice').isCloture %}
                        <div class="row mt-2 mr-1">
                            <div class="alert alert-warning alert-dismissible col-12" style="display:none" id="alert">
                                <h5>Il existe encore de prestation en attente de décision</h5>
                                <button type="button" class="alert-close close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="col-12 text-right">
                                <a href="{{ path('prestation_adherent_rembourser', {'id': adherent.id}) }}" class="btn btn-info" id="pay_link"><i class="mdi mdi-credit-card"></i> Passer au paiement</a>
                            </div>
                        </div>      
                    {% endif %}             
                </div>
            </div>
        </div>
    </div>

    {# Fenetre modale pour editer les prestations #}
    <div class="modal fade" id="modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Décision de prestation</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="prestation">
                    <div class="modal-body">
                        <div class="row">                                                  
                            <div class="col-6">
                                    <input type="hidden" name="id" id="prestation_index">
                                    <div class="form-group row">
                                        <label for="prestation_date" class="col-form-label col-sm-3">Date</label>
                                        <div class="col-sm-9">    
                                            <input type="text" id="prestation_date" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="prestation_beneficiaire" class="col-form-label col-sm-3">Bénéficiaire</label>
                                        <div class="col-sm-9">    
                                            <input type="text" id="prestation_beneficiaire" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="prestation_decompte" class="col-form-label col-sm-3">Décompte</label>
                                        <div class="col-sm-9">    
                                            <input type="text" id="prestation_decompte" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="prestation_designation" class="col-form-label col-sm-3">Désignation</label>
                                        <div class="col-sm-9">    
                                            <input type="text" id="prestation_designation" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="prestation_frais" class="col-form-label col-sm-3 required">Frais</label>
                                        <div class="col-sm-9">
                                            <input type="text" id="prestation_frais" class="form-control" readonly>
                                        </div>
                                    </div>      

                                    <div class="form-group row" id="remb_form">
                                        <label for="prestation_rembourse" class="col-form-label col-sm-3 required">Remboursé</label>
                                        <div class="input-group col-sm-4">    
                                            <input type="number" id="prestation_percent" value="{{ percent * 100 }}" required="required" class="form-control" readonly>
                                            <div class="input-group-append">
                                                <span class="input-group-text">%</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">    
                                            <input type="text" id="prestation_rembourse" name="prestation[rembourse]" required="required" class="form-control" readonly>
                                        </div>
                                    </div>
                                    
                                    <div class="form-row btn-list">
                                        <div class="col-12 text-right">
                                            <button type="reset" class="btn btn-danger mr-3" data-dismiss="modal" id="fermer"><i class="mdi mdi-close-circle-outline"></i> Fermer</button>
                                            <button type="submit" class="btn btn-info"><i class="mdi mdi-login-variant"></i> Valider</button>
                                        </div>
                                    </div>
                                </form>
                            </div>  
                            <div class="col-6">
                                <table class="table table.striped border">
                                    <thead><tr><th>#</th><th>Description</th><th>Montant</th><th>Action</th></tr></thead>
                                    <tbody id="details">
                                    </tbody>
                                </table>
                                
                            </div>                     
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/libs/datatable/dist/jquery.dataTables.min.js') }}"></script>
<script>
$(document).ready(function() { 
    var prestations = {{json|raw}}; // Les donnees à affiché
    refreshTable(prestations);

    $(document).on("click", ".act", function(e) {
        var index = $(this).attr('data-index');
        var prestation = prestations[index];
        $('#prestation_index').val(index);
        $('#prestation_date').val(prestation.date);
        $('#prestation_beneficiaire').val(prestation.pac);
        $('#prestation_decompte').val(prestation.decompte);
        $('#prestation_designation').val(prestation.designation);

        updateDetail(prestation,index);
        $('#modal').modal({backdrop: "static"});
    });

    // Accepter un detail
    $(document).on("click", ".decid", function(e) {
        e.preventDefault();
        var id = $(this).parent().attr('p-id');
        var indexDetail = $(this).parent().attr('data-index');

        var prestation = prestations[id];
        var detail = prestation.details[indexDetail];
        if (detail.etat) {
            detail.etat = false;
            prestation.frais = prestation.frais - detail.montant;        
        } else {
            detail.etat = true;
            prestation.frais = prestation.frais + detail.montant;        
        }
        var percent = parseFloat($('#prestation_percent').val());
        prestation.rembourse = Math.round(percent * prestation.frais / 100);
        prestation.status = 1;
        prestation.details[indexDetail] = detail;
        prestations[id] = prestation; // Modify value
        updateDetail(prestation,id);
    });

    $('#pay_link').click(function(e) {
        e.preventDefault();
        var bool = true;
        $('.remb').each(function() {
            if ($(this).text() == "En attente")
                bool = false;
        });
        if (bool) {
            window.location.href = $(this).attr('href');
        } else {
            $("#alert").show("slow");  
        }
    });

    $(document).on('click', '.alert-close', function() {
       $(this).parent().hide();
    })

    $('#prestation').submit(function(e) {
        e.preventDefault();
        var index = $('#prestation_index').val();
        var prestation = prestations[index];
        var data = {
            id : prestation.id,
            frais : prestation.frais,
            rembourse : prestation.rembourse,
            details: prestation.details
        };

        var posting = $.post('{{ path('prestation_decider_json') }}', JSON.stringify(data));
        posting.done(function(data) {
            if (data.hasError == false) {
                $('#modal').modal('hide');
                refreshTable(prestations);
            }
        });
        posting.fail(function(data) {
            console.log("FAIL");
        });
    }); 
});

function refreshTable(prestations) {
    console.log(prestations);
    $('#app tbody').empty();
    $('#app tfoot').empty();

    var totFrais = 0, totRembourse = 0;
    
    for (let index = 0; index < prestations.length; index++) {
        var prestation = prestations[index];
        var markup = "<tr><th scope='row'>"+ prestation.id +"</th>";
        markup += "<td>" + prestation.date + "</td>";
        markup += "<td>" + prestation.pac + "</td>";
        markup += "<td>" + prestation.designation + "</td>";
        markup += "<td>" + prestation.decompte + "</td>";
        markup += "<td class='text-center'>" + prestation.frais.toLocaleString("fr-FR", {maximumSignifiantDigits:2}) + "</td>"; 

        if (prestation.status != 0) 
           markup += "<td class='text-center'>" + prestation.rembourse.toLocaleString("fr-FR", {maximumSignifiantDigits:2})  + "</td>"; 
         else 
            markup += "<td class='remb'><span class='label label-rounded label-info'>En attente</span><span class='float-right actions'><a data-index='"+index+"' class='act mr-1'><i class='ti-pencil-alt'></i></a></span></td>";
       
        markup += "<td class='text-center'>" + Math.round((prestation.rembourse/prestation.frais)*100) + " %</td>";
        markup += "</tr>";

        totFrais += parseFloat(prestation.frais); 
        totRembourse += parseFloat(prestation.rembourse); 
        $('#app tbody').append(markup);                   
    }

    if (prestations.length != 0) {
        var totMarkup = "<tr><th scope='row' colspan=5>Total</th>";
        totMarkup += "<td class='text-center'>" + totFrais.toLocaleString("fr-FR", {maximumSignifiantDigits:2}) + "</td>";
        totMarkup += "<td class='text-center'>" + totRembourse.toLocaleString("fr-FR", {maximumSignifiantDigits:2}) + "</td>";
        totMarkup += "<td class='text-center'>" + Math.round((totRembourse/totFrais)*100) + "%</td></tr>";
        $('#app tfoot').append(totMarkup);  
    } 
    $('#app').DataTable({ordering:false});
}

function updateDetail(prestation, index) {
    $('#prestation_frais').val(prestation.frais.toLocaleString("fr-FR", {maximumSignifiantDigits:2}));   
    var percent = parseFloat($('#prestation_percent').val());
    $('#prestation_rembourse').val((Math.round(percent * prestation.frais / 100)).toLocaleString("fr-FR"));
    $('#details').empty();
    // Details
    prestation.details.forEach((detail,i) => {
        if (detail.etat)
            var markup = "<tr><td><i class='etat fa fa-check text-success'></i></td>";  
        else 
            var markup = "<tr><td><i class='etat fa fa-times text-danger'></i></td>";
        var classBtnA = (detail.etat)?"disabled":""; 
        var classBtnB = (!detail.etat)?"disabled":"";   
        $('#details').append(markup+"<td>"+detail.description+"</td><td>"+detail.montant.toLocaleString("fr-FR")+"</td><td p-id="+index+" data-index="+i+"><button class='decid label label-success btn btn-sm label-rounded "+classBtnA+"'><i class='fa fa-check'></i></button><button class='decid label label-danger btn btn-sm label-rounded ml-2 "+classBtnB+"'><i class='fa fa-times'></i></button></td></tr>");
    });
}
</script>
{% endblock %}