{% extends 'base.html.twig' %}

{% block title %}Remboursement congrégation {{ adherent.nom }}{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/libs/datatable/dist/dataTables.bootstrap4.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Remboursement congrégation N°{{ adherent.numero }} - {{ adherent.nom }}</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Prestation</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Remboursement</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">    
                    <h4 class="card-title">Congrégation</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 border-right">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="list-style-none">     
                                        <li class="my-3">
                                            <img src="{{ asset(adherent.photo) }}" alt="profile" class="img-thumbnail mx-auto d-block" height="150" width="150">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="list-style-none border-bottom-white">
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Nom congrégation:</span>
                                        </li>
                                        <li class="my-3">
                                            <span class="font-weight-medium text-dark"> N° fiche d'adhésion:</span>
                                        </li>
                                        <li class="my-3">
                                            <span class="font-weight-medium text-dark"> Date d'entrée:</span>
                                        </li>                                       
                                    </ul>
                                </div>
                                <div class="col-md-8">
                                    <ul class="list-style-none">
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.nom }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.numero }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.dateInscription | date('d / m / Y') }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <h4 class="card-title">Informations de l'année {{ app.session.get('exercice').annee }}</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="list-style-none border-bottom-white">                
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark">Cotisation due</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark">Cotisation percue</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark">Total des montants remboursés</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Remboursement plafond</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Reste de remboursement </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-style-none">
                                        <li class="my-3 border-bottom">
                                            <span> {{ info.due|number_format(0,',',' ') }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ info.percue|number_format(0,',',' ') }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ info.tRemb|number_format(0,',',' ') }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ info.plafond|number_format(0,',',' ') }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ info.reste|number_format(0,',',' ') }} </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="list-style-none">
                                <div class="btn-list">
                                    <a href="{{ path('adhesion_show', {'id': adherent.id}) }}"class="btn btn-sm btn-success"><i class="mdi mdi-account-multiple"></i> Voir fiche d'adhésion</a>
                                    <a href="{{ path('cotisation_show', {'id': adherent.id}) }}"class="btn btn-sm btn-primary"><i class="mdi mdi-calendar-check"></i> Voir fiche de cotisation</a>
                                </div>
                            </ul>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-5">
                            <h4 class="card-title">Historique des remboursements</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered m-t-20">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Exercice</th>
                                        <th scope="col">Montant</th>
                                        <th scope="col">Paiement depuis</th>
                                        <th scope="col">Reférence</th>
                                        <th scope="col">Détail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for remboursement in remboursements %}
                                        <tr {% if remboursement.remarque %} data-toggle="tooltip" title="{{ remboursement.remarque }}"{% endif %}>
                                            <th scope="row">{{ loop.index }}</th>
                                            <td>{{ remboursement.date |date('d/m/Y') }}</td>
                                            <td>{{ remboursement.exercice.annee }}</td>
                                            <td>{{ remboursement.montant|number_format(2,',',' ') }}</td>
                                            <td>{{ remboursement.tresorerie.titre }}</td>
                                            <td>{{ remboursement.reference }}</td>
                                            <td><a href="{{ path('prestation_adherent_remboursement', {'id': remboursement.id }) }}" class="label btn-primary label-primary">Voir</a></td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan=7>Pas de remboursement enrgistrés durant cet exercice</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>                     
                        </div>
                    </div>
                    
                    <div class="row mt-4">
                        <div class="col-5">
                            <h4 class="card-title">Prestations en attente de remboursement</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered m-t-20" id="zero_config">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Béneficiaire</th>
                                        <th scope="col">Designation</th>
                                        <th scope="col">Frais</th>
                                        <th scope="col">Décidé</th>
                                        <th scope="col">%</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody_pre">
                                    {% set tFrais = 0 %}
                                    {% set  tRembourse = 0 %}
                                    {% for prestation in prestationNotPayed %}
                                        <tr {% if prestation.dateDecision %}data-toggle="tooltip" title="Décidé le {{ prestation.dateDecision|date('d/m/Y') }}"{% endif %}>
                                            <th>{{ loop.index }} <span class="id d-none">{{ prestation.id }}</span></th>
                                            <td class="date">{{ prestation.date|date('d/m/Y') }}</td>
                                            <td class="beneficiaire">{{ prestation.pac.codeMutuelle ~ ' - ' ~ prestation.pac.nom ~ ' ' ~ prestation.pac.prenom }}</td>
                                            <td class="designation">{{ prestation.designation }}</td>
                                            <td class="frais">{{ prestation.frais|number_format(2,',',' ') }}</td> {% set tFrais = tFrais + prestation.frais %}
                                            <td>
                                                {% if prestation.status == 1 %}
                                                    <span class="remb">{{ prestation.rembourse|number_format(2,',',' ') }}</span>
                                                {% else %}       
                                                    {% if prestation.status == 0 %}<span class="label label-rounded label-info remb">En attente</span>
                                                    {% else %}<span class="label label-rounded label-danger remb">Non remb</span>{% endif %}
                                                    <span class='float-right actions'><a class='edit mr-1'><i class='ti-pencil-alt'></i></a></span>
                                                {% endif %}
                                                <span class="m_remb d-none">{{ prestation.rembourse }}</span>
                                            </td>  {% set tRembourse = tRembourse + prestation.rembourse %}
                                            <td class="percent">{{ (prestation.rembourse / prestation.frais) | round(3, 'floor') * 100 }}%</td>
                                        </tr>
                                        {% if loop.last %}
                                            </tbody>                                    
                                            <tfoot>
                                                <tr>
                                                    <th scope="row" colspan=4>Total</th>
                                                    <td id="total_frais">{{ tFrais|number_format(2,',',' ') }}</td>
                                                    <td id="total_remb">{{ tRembourse|number_format(2,',',' ') }}</td>
                                                    <td id="total_per">{{ (tRembourse / tFrais)| round(3, 'floor') * 100 }}%</td>
                                                </tr>
                                            </tfoot>
                                        {% endif %}
                                    {% else %}
                                        <tr>
                                            <td colspan=6>Aucun prestation en attente de remboursement </td>
                                        </tr>
                                    </tbody>                                    
                                    {% endfor %}
                    
                            </table>
                        
                        </div>
                    </div>
                    {% if tFrais != 0 and app.session.get('exercice').isCurrent and not app.session.get('exercice').isCloture %}
                        <div class="row mt-2 mr-1">
                            <div class="alert alert-warning alert-dismissible col-12" style="display:none" id="alert">
                                <h5>Il existe encore de prestation en attente de décision</h5>
                                <button type="button" class="alert-close close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="col-12 text-right">
                                <a href="{{ path('prestation_adherent_rembourser', {'id': adherent.id}) }}" class="btn btn-info" id="pay_link"><i class="mdi mdi-credit-card"></i> Passer au paiement</a>
                            </div>
                        </div>      
                    {% endif %}             
                </div>
            </div>
        </div>
    </div>

    {# Fenetre modale pour editer les prestations #}
    <div class="modal fade" id="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Décision de prestation</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="prestation">
                    <div class="modal-body">
                        <div class="row">                                                  
                            <div class="col-12">
                                    <input type="hidden" name="id" id="prestation_id">
                                    <div class="form-group row">
                                        <label for="prestation_date" class="col-form-label col-sm-3">Date * </label>
                                        <div class="col-sm-9">    
                                            <input type="text" id="prestation_date" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="prestation_beneficiaire" class="col-form-label col-sm-3">Bénéficiaire * </label>
                                        <div class="col-sm-9">    
                                            <input type="text" id="prestation_beneficiaire" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="prestation_designation" class="col-form-label col-sm-3">Désignation * </label>
                                        <div class="col-sm-9">    
                                            <input type="text" id="prestation_designation" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="prestation_frais" class="col-form-label col-sm-3 required">Frais *</label>
                                        <div class="col-sm-9">
                                            <input type="text" id="prestation_frais" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="prestation_status" class="col-form-label col-sm-3 required">Status *</label>
                                        <div class="col-sm-9">
                                            <select name="status" id="prestation_status" required="required" class="form-control">
                                                <option value="1">Remboursé</option>
                                                <option value="-1">Refusé</option>
                                            </select>
                                        </div>
                                    </div>          

                                    <div class="form-group row" id="remb_form">
                                        <label for="prestation_rembourse" class="col-form-label col-sm-3 required">Remboursés *</label>
                                        <div class="input-group col-sm-3">    
                                            <input type="number" id="prestation_percent" value="{{ percent * 100 }}" required="required" class="form-control">
                                            <div class="input-group-append">
                                                <span class="input-group-text">%</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">    
                                            <input type="number" id="prestation_rembourse" name="prestation[rembourse]" required="required" class="form-control" readonly>
                                        </div>
                                    </div>
                                    
                                    <div class="form-row btn-list">
                                        <div class="col-12 text-right">
                                            <button type="reset" class="btn btn-danger mr-3" data-dismiss="modal" id="fermer"><i class="mdi mdi-close-circle-outline"></i> Fermer</button>
                                            <button type="submit" class="btn btn-info" id="Ajouter"><i class="mdi mdi-login-variant"></i> Enregistrer</button>
                                        </div>
                                    </div>
                                </form>
                            </div>                       
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/libs/datatable/dist/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('dist/js/pages/datatable/datatable-basic.init.js') }}"></script>
<script>
$(document).ready(function() { 
    $(document).on("click", ".edit", function(e) {
        var row = $(this).parent().parent().parent();
        var id = row.find('.id').text();
        var date = row.find('.date').text();
        var beneficiaire = row.find('.beneficiaire').text();
        var designation = row.find('.designation').text();
        var frais = row.find('.frais').text();
        $('#prestation_id').val(id);
        $('#prestation_date').val(date);
        $('#prestation_beneficiaire').val(beneficiaire);
        $('#prestation_designation').val(designation);
        $('#prestation_frais').val(frais);
        $('#prestation_percent').val({{ percent * 100}});

        var remb = row.find('.remb').text();
        
        if (remb == "Non remb") {
            $('#prestation_status').val(-1);
        } else {
            $('#prestation_status').val(1);
        }
        $('#prestation_status').change();
        var m_frais = parseFloat(frais.replace(",", ".").replace(/\s/g, ""));
        var percent = parseFloat($('#prestation_percent').val());
        $('#prestation_rembourse').val(Math.round(percent * m_frais / 100));
        $('#modal').modal({backdrop: "static"});
    });

    $('#prestation_status').change(function(e) {
        var status = $(this).val();
        if (status == 1) {
            $('#remb_form').show("slow"); 
        } else {
            $('#remb_form').hide("slow");  
        }  
    });

    $('#prestation_percent').change(function(e) {
        var percent = parseFloat($(this).val());    
        var frais =  parseFloat($('#prestation_frais').val().replace(",", ".").replace(/\s/g, ""));
        $('#prestation_rembourse').val(Math.round(percent * frais / 100));
    });

    $('#prestation_rembourse').change(function(e) {
        var rembourse = parseFloat($(this).val());
        var frais = parseFloat($('#prestation_frais').val().replace(",", ".").replace(/\s/g, ""));
        $('#prestation_percent').val(Math.round((rembourse/frais )*100));
    });

    $('#pay_link').click(function(e) {
        e.preventDefault();
        var bool = true;
        $('.remb').each(function() {
            if ($(this).text() == "En attente")
                bool = false;
        });
        if (bool) {
            window.location.href = $(this).attr('href');
        } else {
            $("#alert").show("slow");  
        }
    });

    $(document).on('click', '.alert-close', function() {
       $(this).parent().hide();
    })

    $('#prestation').submit(function(e) {
        e.preventDefault();
        var id = $('#prestation_id').val();
        var data = {
            id        : $('#prestation_id').val(),
            status    : $('#prestation_status').val(),
            rembourse : $('#prestation_rembourse').val()
        };
        var posting = $.post('{{ path('prestation_update_ajax') }}', JSON.stringify(data));
        posting.done(function(data) {
            if (data.hasError == false) {
                $('#modal').modal('hide');
                var row = $(".id:contains("+data.data.id+")").parent().parent();
                var remb = row.find('.remb');
                remb.removeClass('label').removeClass('label-rounded').removeClass('label-info').removeClass('label-danger');
                var percent = row.find('.percent');
                var m_remb_span = row.find('.m_remb');
                if (data.data.status == -1) {
                    remb.text("Refusé");
                    remb.addClass('label label-rounded label-danger');
                    percent.text("0%");
                    m_remb_span.text("0");
                } else {
                    console.log(m_remb_span);
                    var m_remb = parseFloat(data.data.rembourse);
                    remb.text(format(m_remb.toFixed(2)));
                    m_remb_span.text(m_remb);
                    percent.text((100 * m_remb / parseFloat($('#prestation_frais').val().replace(",", ".").replace(/\s/g, ""))) + "%");
                    row.find('.actions').remove();
                }

                updateSum();
            }
        });
        posting.fail(function(data) {
            console.log("FAIL");
        });
    }); 
});

function format(n, dp){
    var s = ''+(Math.floor(n)), d = n % 1, i = s.length, r = '';
    while ( (i -= 3) > 0 ) { r = ' ' + s.substr(i, 3) + r; }
    return s.substr(0, i + 3) + r + 
        (d ? ',' + Math.round(d * Math.pow(10, dp || 2)) : ',00');
}

function updateSum() {
    var total = 0;
    $('.m_remb').each(function() {
        var value = parseFloat($(this).text());
        console.log(value);
        if (!isNaN(value)) {
            total += value;
        }
    });
    $('#total_remb').text(format(total));
    $('#total_per').text(Math.round(10000 * total / parseFloat($('#total_frais').text().replace(",", ".").replace(/\s/g, "")))/100 + "%");
}

</script>
{% endblock %}