{% extends 'base.html.twig' %}

{% block title %}Configurations exercice{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Configurations annuelle</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Configuration</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Annuelle</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Configuration exercice</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_start(form) }}
                                {{ form_row(form.annee, { 'label': 'Année d\'exercice' }) }}
                                {{ form_row(form.dateDebut, { 'label': 'Date de début de l\'exercice' }) }}
                                {{ form_row(form.dateFin, { 'label': 'Date de fin de l\'exercice' }) }}
                                {{ form_row(form.droitAdhesion, { 'label': 'Droit d\'adhésion de nouveau congrégation' }) }}
                                {{ form_row(form.cotNouveau, { 'label': 'Montant cotisation de nouveau membre' }) }}
                                {{ form_row(form.cotAncien, { 'label': 'Montant cotisation d\'ancien membre' }) }}
                                <div class="form-row">
                                    <div class="col-12 text-right">
                                        <button type="submit" class="btn btn-success">Enregistrer <i class="mdi mdi-keyboard-return"></i></button>
                                    </div>
                                </div>                                                     
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
