{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Profil utilisateur</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Utilisateur</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Profil</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Edit</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Changer mot de passe</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_row(form.old_password, { label: "Ancien mot de passe" }) }}
                                    {{ form_row(form.new_password, { label: "Nouveau mot de passe" }) }}
                                    {{ form_row(form.confirm_password, { label: "Prénom *" }) }}
                                
                                    <div class="form-row">
                                        <div class="col-12 text-right">
                                            <button type="submit" class="btn btn-success"><i class="mdi mdi-update"></i> Mettre à jour profil</button>
                                        </div>
                                    </div>
                                </div>
                            </div>                                                                                     
                            {{ form_end(form) }}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
