{% extends 'base.html.twig' %}

{% block title %}Configurations exercice{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Configurations annuelle</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Configuration</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Annuelle</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Configuration exercice</h4>
                    <hr>
                    <div class="row">
                        <table class="table table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Année</th>
                                    <th scope="col">Début</th>
                                    <th scope="col">Fin</th>
                                    <th scope="col">Nouveau</th>
                                    <th scope="col">Ancien</th>
                                    <th scope="col">Etat</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for exercice in exercices %}                                   
                                    <tr>
                                        <th>{{ exercice.annee }}</th>
                                        <td>{{ exercice.dateDebut |date('d/m/Y') }}</td>
                                        <td>{{ exercice.dateFin |date('d/m/Y') }}</td>
                                        <td>{{ exercice.cotNouveau }}</td>
                                        <td>{{ exercice.cotAncien }}</td>
                                        <td>
                                            {% if not exercice.isCloture %}<span class="label label-rounded label-primary">Ouvert</span>{% else %}<span class="label label-rounded label-danger">Clôturé</span>{% endif %}
                                            {% if exercice.isCurrent %}<span class="label label-rounded label-success">Courant</span>{% endif %}
                                        </td>
                                        <td>
                                            {% if exercice.id != app.session.get('exercice').id %}
                                            <a href="{{ path('parametre_exercice_select', {'id': exercice.id}) }}" class="label btn-primary label-info">Selectionner</a>
                                            {% else %}
                                            <span class="label label-success"><i class="mdi mdi-check"></i></span>   
                                            {% endif %}
                                        </td>
                                    </tr>                                        
                                {% endfor %}        
                            </tbody>
                        </table>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <a href="{{ path('parametre_exercice_configurer') }}" class="btn btn-success">Nouvel exercice</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
