{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/libs/chartist/dist/chartist.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row">
        {# Section des nombres de congregations #}
        <div class="col-md-8 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title">Effectif des Congrégations</h4>
                            <h5 class="card-subtitle">Evolution</h5>
                        </div>
                        <div class="ml-auto d-flex no-block align-items-center">
                            <ul class="list-inline font-12 dl m-r-15 m-b-0">
                                <li class="list-inline-item text-blue-chart"><i class="fa fa-circle"></i> Nb congrégation</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="congregation" class="chart-line ct-charts"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Section des nombres de béneficiaire #}
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title">Nombre Bénéficiaire</h4>
                            <h5 class="card-subtitle"></h5>
                        </div>
                        <div class="ml-auto d-flex no-block align-items-center">
                            <ul class="list-inline font-12 dl m-r-15 m-b-0">
                                <li class="list-inline-item text-blue-chart"><i class="fa fa-circle"></i> Nb bénéficiaire</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <!-- column -->
                        <div class="col-lg-12">
                            <div id="beneficiaire" class="chart-line ct-charts"></div>
                        </div>
                        <!-- column -->
                    </div>
                </div>
            </div>
        </div>

        {# Section des remboursements moyenne par bénéficiaires dans une exercice #}
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title">Coûts moyenne de remboursement</h4>
                            <h5 class="card-subtitle">Année {{ app.session.get('exercice').annee }}</h5>
                        </div>
                        <div class="ml-auto d-flex no-block align-items-center">
                            <ul class="list-inline font-12 dl m-r-15 m-b-0">
                                <li class="list-inline-item text-blue-chart"><i class="fa fa-circle"></i> Moyenne frais</li>
                                <li class="list-inline-item text-red-chart"><i class="fa fa-circle"></i> Moyenne remb</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <!-- column -->
                        <div class="col-lg-12">
                            <div id="prestation" class="chart-bar ct-charts"></div>
                        </div>
                        <!-- column -->
                    </div>
                </div>
            </div>
        </div>

        {# Section pourcentage des remboursements dans un exercice #}
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title">Pourcentage des soins</h4>
                            <h5 class="card-subtitle">Année {{ app.session.get('exercice').annee }}</h5>
                        </div>
                        <div class="ml-auto d-flex no-block align-items-center">
                            <ul class="list-inline font-12 dl m-r-15 m-b-0">
                                <li class="list-inline-item text-blue-chart"><i class="fa fa-circle"></i> Moyenne frais</li>
                                <li class="list-inline-item text-red-chart"><i class="fa fa-circle"></i> Moyenne remb</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <!-- column -->
                        <div class="col-lg-7">
                            <div id="soins" class="chart-pie ct-charts" style="height:200px;"></div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/libs/chartist/dist/chartist.min.js') }}"></script>
    <script src="{{ asset('assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js') }}"></script>
    <script src="{{ asset('dist/js/pages/dashboards/dashboard1.js') }}"></script>
    <script src="{{ asset('dist/js/pages/dashboards/chart-utils.js') }}"></script>
    <script>
    $(function() {
        var congregations = {{ congregations|raw }};
        createChartLine('#congregation', congregations.label, [congregations.series]);  
        
        var beneficiaires = {{ beneficiaires|raw }};
        createChartLine('#beneficiaire', beneficiaires.label, [beneficiaires.series], 0, 500);

        var prestations = {{ prestations|raw }};
        createChartBar('#prestation', prestations.label, prestations.series, 0, 100000);  

        var soins = {{ soins|raw }};
        createChartPie('#soins', soins.series);  
    });
    </script>
{% endblock %}

