{% extends 'base.html.twig' %}

{% block title %}Fiche de cotisation N°{{ adherent.id }}{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Fiche de cotisation N°{{ adherent.id }}</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Adhésion</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Fiche</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">    
                    <h4 class="card-title">Adhérent</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 border-right">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="list-style-none">     
                                        <li class="my-3">
                                            <img src="{{ asset(adherent.photo) }}" alt="profile" class="img-thumbnail mx-auto d-block" height="150" width="150">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="list-style-none border-bottom-white">
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Nom et prénom:</span>
                                        </li>
                                        <li class="my-3">
                                            <span class="font-weight-medium text-dark"> Numéro de code:</span>
                                        </li>
                                        <li class="my-3">
                                            <span class="font-weight-medium text-dark"> Date d'entrée:</span>
                                        </li>
                                        <li class="my-3">
                                            <span class="font-weight-medium text-dark"> Nombre famille:</span>
                                        </li>
                                        <li class="my-3">
                                            <span class="font-weight-medium text-dark"> Cotisation année:</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-8">
                                    <ul class="list-style-none">
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.nom }} {{ adherent.prenom }}</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.codeMutuelle }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.dateInscription | date('d / m / Y') }}</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.getValueTailleFamille }}</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ "now" | date('Y') }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <h4 class="card-title">Garantie santé</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="list-style-none border-bottom-white">
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Nom de la garantie:</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Droit d'ahésion:</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Type de cotisation:</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Montant cotisation:</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Cotisation mensuelle:</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Période observation:</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-8">
                                    <ul class="list-style-none">
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.garantie.nom }}</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.garantie.droitAdhesion }}</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.garantie.typeCotisation.nom }}</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.garantie.montant1 }} / béneficiaire / mois</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.garantie.montant1 * adherent.valueTailleFamille }}</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.dateInscription | date('d / m / Y') }}  au  {{ adherent.dateInscription | date_modify('+' ~ adherent.garantie.periodeObservation ~ 'months') | date('d / m / Y') }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="list-style-none">
                                <div class="btn-list">
                                    <a href="{{ path('adhesion_show', {'id': adherent.id}) }}"class="btn btn-sm btn-success"><i class="mdi mdi-contact-mail"></i>  Voir fiche d'adhésion</a>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-5">
                            <h4 class="card-title">Versement de cotisation</h4>
                        </div>
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Mois</th>
                                    <th scope="col">Cotisation due</th>
                                    <th scope="col">Cotisation percue</th>
                                    <th scope="col">Arriéré</th>
                                    <th scope="col">Avance</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for m, tailleFamille in adherent.tailleFamille %}
                                    <tr>
                                        <th scope="row">{{ m + 1 }}</th>
                                        <td>{{ m |date('2020-' ~ (m + 1) ~ '-01') |localizeddate('none', 'none', 'fr_FR', null, 'MMMM') }}</td>
                                        <td>{{ adherent.currentCotisationEmise.cotisations[m] }}</td>
                                        <td>{{ adherent.currentCotisationPercue.cotisations[m] }}</td>
                                        {% if adherent.currentArriereAvance.cotisations[m] <= 0 %}
                                            <td>{{ adherent.currentArriereAvance.cotisations[m] |abs }}</td>
                                            <td>0</td>
                                        {% else %}
                                            <td>0</td>
                                            <td>{{ adherent.currentArriereAvance.cotisations[m] |abs }}</td>
                                        {% endif %}
                                        <td>
                                            <a href="{{ path('cotisation_pay', {'id': adherent.id, 'month': m + 1}) }}" class="label btn-primary label-primary">Payer</a>
                                        </td>
                                    </tr>
                                {% endfor %}                        
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}