{% extends 'base.html.twig' %}

{% block title %}Fiche de cotisation N°{{ adherent.id }}{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Fiche de cotisation de la congrégation N°{{ adherent.numero }} / {{ adherent.nom }}</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Adhésion</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Fiche</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">    
                    <h4 class="card-title">Congrégation</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 border-right">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="list-style-none">     
                                        <li class="my-3">
                                            <img src="{{ asset(adherent.photo) }}" alt="profile" class="img-thumbnail mx-auto d-block" height="150" width="150">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="list-style-none border-bottom-white">
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Nom congrégation:</span>
                                        </li>
                                        <li class="my-3">
                                            <span class="font-weight-medium text-dark"> N° fiche d'adhésion:</span>
                                        </li>
                                        <li class="my-3">
                                            <span class="font-weight-medium text-dark"> Date d'entrée:</span>
                                        </li>                                       
                                    </ul>
                                </div>
                                <div class="col-md-8">
                                    <ul class="list-style-none">
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.nom }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.numero }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ adherent.dateInscription | date('d / m / Y') }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <h4 class="card-title">Détails du compte pour l'année {{ "now" | date('Y') }}</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="list-style-none border-bottom-white">                
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Droit d'ahésion payé</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Cotisation ancien</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Cotisation nouveau</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Ancien béneficiaire</span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Nouveau béneficiaire </span>
                                        </li>
                                        <li class="my-3 ">
                                            <span class="font-weight-medium text-dark"> Cotisation annuelle</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-8">
                                    {# Some logic : get the compte cotisation of the exercice given #}
                                    {% set compteCotisation = adherent.compteCotisation(exercice) %}

                                    <ul class="list-style-none">
                                        <li class="my-3 border-bottom">
                                            <span> {{ exercice.droitAdhesion }} </span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ exercice.cotAncien }} / bénéficiaire / ans</span>
                                        </li>
                                        <li class="my-3 border-bottom">
                                            <span> {{ exercice.cotNouveau }} / bénéficiaire / ans</span>
                                        </li>
                                        <li class="my-3 border-bottom">               
                                            <span> {{ compteCotisation.ancien }}</span>
                                        </li>
                                        <li class="my-3 border-bottom">               
                                            <span> {{ compteCotisation.nouveau }}</span>
                                        </li>
                                        <li class="my-3 border-bottom">   
                                            <span> {{ compteCotisation.due }} </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="list-style-none">
                                <div class="btn-list">
                                    <a href="{{ path('adhesion_show', {'id': adherent.id}) }}"class="btn btn-sm btn-primary"><i class="mdi mdi-calendar-check"></i> Voir fiche d'adhésion</a>
                                </div>
                            </ul>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-5">
                            <h4 class="card-title">Situation de compte</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered m-t-20">
                                <thead>
                                    <tr>
                                        <th scope="col">Année</th>
                                        <th scope="col">Ancien</th>
                                        <th scope="col">Nouveau</th>
                                        <th scope="col">Cotisation due</th>
                                        <th scope="col">Cotisation percue</th>
                                        <th scope="col">Situation</th>
                                        <th scope="col">Reste à payé</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for compteCotisation in adherent.compteCotisations %}
                                        <tr>
                                            <th scope="row">{{ compteCotisation.exercice.annee }}</th>
                                            <td>{{ compteCotisation.ancien }}</td>
                                            <td>{{ compteCotisation.nouveau }}</td>
                                            <td>{{ compteCotisation.due }}</td>
                                            <td>{{ compteCotisation.paye }}</td>
                                            <td>
                                                {% if compteCotisation.isPaye %}
                                                    <span class="label label-rounded label-success">Payé</span>
                                                {% else %}
                                                    <span class="label label-rounded label-warning">Non payé</span>
                                                {% endif %}         
                                            </td>
                                            <td>{{ compteCotisation.reste }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-5">
                            <h4 class="card-title">Versement de cotisation</h4>
                        </div>
                        <div class="col-7">
                            <div class="text-right">
                                <a href="{{ path('cotisation_pay', {'id': adherent.id}) }}" class="btn btn-sm btn-info"><i class="mdi mdi-plus-circle-outline"></i> Enregistrer nouveau paiement</a>
                            </div> 
                        </div>
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Année</th>
                                    <th scope="col">Montant</th>
                                    <th scope="col">Paiement</th>
                                    <th scope="col">Réference</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set t = 0 %}
                                {% set compteCotisation = adherent.compteCotisation(exercice) %}
                                {% for historiqueCotisation in compteCotisation.historiqueCotisations %}                                                               
                                    <tr {% if historiqueCotisation.remarque %} data-toggle="tooltip" title="{{ historiqueCotisation.remarque }}"{% endif %}>
                                        <th scope="row">{{ loop.index }}</th>
                                        <td>{{ historiqueCotisation.datePaiement |date('d/m/Y') }}</td>
                                        <td>{{ compteCotisation.exercice.annee }}</td>
                                        <td>{{ historiqueCotisation.montant }}</td> {% set t = t + historiqueCotisation.montant %}
                                        <td>{{ historiqueCotisation.tresorerie.libelle }}</td>
                                        <td>{{ historiqueCotisation.reference }}</td>
                                        <td class="text-center"><a href="{{ path('cotisation_edit', { 'adherent_id': adherent.id, 'cotisation_id': historiqueCotisation.id }) }}" class="label label-primary">Modifier</a></span></td>
                                    </tr>
                                    {% if loop.last %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th scope="row" colspan=3>Total</th>
                                                <td>{{ t }}</td>
                                                <td colspan=4></td>
                                            </tr>
                                        </tfoot>
                                    {% endif %}                                    
                                {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}