{% extends 'base.html.twig' %}

{% block title %}Gestion de trésorerie{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Gestion de trésorerie</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Trésorerie</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Gestion</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Créer nouveau compte de trésorerie</h4>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            {{ form_start(form) }}
                                {{ form_row(form.compte, { label: 'Compte générale rattaché ', attr:{dis: editMode} }) }}
                                {{ form_row(form.codeJournal, { 'label': 'Code Journal', attr:{dis: editMode} }) }}
                                {{ form_row(form.acceptIn, { 'label': 'Accepte les paiements de cotisation' }) }}
                                {{ form_row(form.acceptOut, { 'label': 'Accepte les reglements de remboursement ' }) }}
                                {{ form_row(form.note, { 'label': 'Informations ' }) }}
                                <div class="form-row">
                                    <div class="col-12 text-right">
                                        <button type="submit" class="btn btn-success">{% if editMode %}Enregitrer les modifications{% else %}Créer trésorerie{% endif %} <i class="mdi mdi-keyboard-return"></i></button>
                                    </div>
                                </div>                                                     
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script>
    $('#success-alert').modal();
    $("select[dis] option:not(:selected)").prop("disabled", true);
    $('select[dis]').css('pointer-events','none');
    $('select[dis]').css('background-color','#DDD');
</script>
{% endblock %}