{% extends 'base.html.twig' %}

{% block title %}Gestion de trésorerie{% endblock %}

{% block header %}
    <div class="page-breadcrumb">
        <div class="d-flex align-items-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-0">Gestion de trésorerie</h4>
            <div class="ml-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item text-muted active" aria-current="page">Trésorerie</li>
                        <li class="breadcrumb-item text-muted" aria-current="page">Gestion</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Trésorerie</h4>
                    <hr>
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Poste</th>
                                        <th scope="col">Intitulé</th>
                                        <th scope="col">Code journal</th>
                                        <th scope="col">Solde</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for compte in comptes %}
                                        <tr>
                                            <th scope="row">{{ loop.index }}</th>
                                            <td>{{ compte.poste }}</td>
                                            <td>{{ compte.titre }}</td>
                                            <td>{{ compte.codeJournal }}</td>
                                            <td>{{ compte.solde|number_format(2,',',' ') }}</td>
                                            <td>
                                                <a href="{{ path('tresorerie_edit', {'id': compte.id}) }}" class="label  label-rounded btn-info label-info">Editer</a>
                                                {% if compte.isCheque %}<a href="{{ path('tresorerie_cheque', {'id': compte.id}) }}" class="label  label-rounded btn-primary label-primary">Gérer les chèques</a>{% endif %}
                                            </td>           
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            <a href="{{ path('tresorerie_add') }}" class="btn btn-primary"><i class="mdi mdi-bank"></i> Nouveau trésorerie</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}